<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dentist Management Help</title>
    <!-- Include favicon -->
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- Include Angular Material CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.12/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">

</head>
<body>

    <div class="filter-container">
        <div class="filter-field">
          <mat-form-field appearance="fill">
            <mat-label>FILTER BY:</mat-label>
            <mat-select (selectionChange)="onFilter($event)">
              <mat-option value="all">All</mat-option>
              <mat-option value="search-stock">Search Stock</mat-option>
              <mat-option value="add-stock">Add Stock</mat-option>
              <mat-option value="capture-stock">Capture Stock</mat-option>
              <mat-option value="writeoff-stock">Write Off Stock</mat-option>

            </mat-select>
          </mat-form-field>
        </div>
      </div>

<div *ngIf="isAnySectionOpen()" class="search-filter-container">
    <input type="text" placeholder="Search..." (input)="onSearch($event)" />
    
  </div>
  <div #searchContent>
    <div *ngIf="shouldDisplayContainer('add-stock')" class="help-container stock-container add-stock">
        <h2><mat-icon>add</mat-icon> Add Stock</h2>
        <p>This section provides assistance on how to add new stock items to the system.</p>
        <button mat-raised-button color="primary" [routerLink]="['/addStock']">Go To Page</button>
    
        <div class="help-section">
            <h3 (click)="toggleDropdown('commonQuestionsAddStock')">Common Questions</h3>
            <ul *ngIf="dropdownStates['commonQuestionsAddStock']">
                <li class="searchable">
                    <h4 class="searchable">How do I add a new stock item?</h4>
                    <p>Navigate to the 'Add Stock' page, fill out the required fields including stock category, supplier, stock name, and quantity. Click 'Capture Stock' to save the new item.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">Can I add stock items that are not listed in the dropdown?</h4>
                    <p>If the stock item is not listed, you may need to add it to the system first or contact your system administrator for assistance.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">What should I do if the 'Capture Stock' button is disabled?</h4>
                    <p>Ensure all required fields are filled out correctly and meet the specified criteria. Check for any validation errors highlighted in the form.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">Can I add stock without specifying a supplier?</h4>
                    <p>Yes, but it is recommended to include a supplier for better inventory management and tracking.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">What happens if I accidentally enter incorrect stock details?</h4>
                    <p>You can edit the stock details after adding them by navigating to the 'Manage Stock' page. Correct the information and save the changes.</p>
                </li>
            </ul>
        </div>
    
        <div class="help-section">
            <h3 (click)="toggleDropdown('technicalIssuesAddStock')">Technical Issues</h3>
            <ul *ngIf="dropdownStates['technicalIssuesAddStock']">
                <li class="searchable">
                    <h4 class="searchable">Why am I unable to save the new stock item?</h4>
                    <p>Check if all required fields are filled and if the information entered meets the validation criteria. If the issue persists, try refreshing the page or contact technical support.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">Why is the stock category dropdown not populating?</h4>
                    <p>Ensure your internet connection is stable and try refreshing the page. If the problem continues, it might be due to a server issue. Contact technical support for assistance.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">Why does the form keep showing validation errors?</h4>
                    <p>Double-check all the fields for correct data entry. Ensure that all required fields are completed according to the specified formats.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">What should I do if the 'Add Stock' page is not loading?</h4>
                    <p>Check your internet connection and try reloading the page. If the problem persists, there might be a server issue. Contact technical support for further assistance.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">Why is the 'Capture Stock' button not active?</h4>
                    <p>The button might be inactive if required fields are missing or incorrectly filled. Make sure all fields meet the form's requirements before trying again.</p>
                </li>
            </ul>
        </div>
    
        <div class="help-section">
            <h3 (click)="toggleDropdown('stepsElementsAdd')">Step-by-Step Guide</h3>
            <mat-accordion *ngIf="dropdownStates['stepsElementsAdd']">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Step 1: Access the 'Add Stock' Page</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Click on the 'Add Stock' button in the navigation menu to go to the 'Add Stock' page.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Step 2: Fill in Stock Details</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Provide the necessary stock details including stock category, supplier, stock name, and quantity available.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Step 3: Complete Additional Information</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Fill in additional information such as maximum stock level, minimum stock level, reorder point, and measurement.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Step 4: Submit the Form</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Click the 'Capture Stock' button to add the new stock item. A confirmation message will appear if the stock is successfully added.</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    
    
    <div *ngIf="shouldDisplayContainer('capture-stock')" class="help-container stock-container capture-stock">
        <h2><mat-icon>add_box</mat-icon> Capture Stock</h2>
        <p>This section provides assistance on how to capture stock details in the system.</p>
        <button mat-raised-button color="primary" [routerLink]="['/pageStock']">Go To Page</button>
    
        <div class="help-section">
            <h3 (click)="toggleDropdown('commonQuestionsCaptureStock')">Common Questions</h3>
            <ul *ngIf="dropdownStates['commonQuestionsCaptureStock']">
                <li class="searchable">
                    <h4 class="searchable">How do I capture additional stock for an existing item?</h4>
                    <p>Go to the 'Capture Stock' page, select the stock item, and enter the quantity added. Click 'Submit' to record the additional stock.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">What details are required to capture stock?</h4>
                    <p>You need to provide the stock name, quantity added, and any additional notes if applicable.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">Can I capture stock if I don't know the exact quantity?</h4>
                    <p>It's essential to provide the exact quantity for accurate inventory management. If unsure, estimate as closely as possible.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">How can I check if the stock capture was successful?</h4>
                    <p>After submitting, a confirmation message will appear if the stock capture is successful. You can also check the updated stock levels in the 'Manage Stock' page.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">What should I do if the stock item is not available in the dropdown?</h4>
                    <p>Ensure the item is added to the system. If it's missing, contact your system administrator to add the item to the stock list.</p>
                </li>
            </ul>
        </div>
    
        <div class="help-section">
            <h3 (click)="toggleDropdown('technicalIssuesCaptureStock')">Technical Issues</h3>
            <ul *ngIf="dropdownStates['technicalIssuesCaptureStock']">
                <li class="searchable">
                    <h4 class="searchable">Why is the 'Submit' button not working?</h4>
                    <p>Ensure all required fields are filled correctly and that there are no validation errors. Check your internet connection and try again.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">Why are my stock quantities not updating?</h4>
                    <p>Check your internet connection and try reloading the page. If the issue persists, it might be a server-side problem. Contact technical support for further help.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">Why can't I find the captured stock in the inventory list?</h4>
                    <p>Refresh the inventory list page to see the most recent updates. If the issue persists, there might be a synchronization issue. Contact technical support for assistance.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">What should I do if the 'Capture Stock' page is not loading?</h4>
                    <p>Ensure you have a stable internet connection and try refreshing the page. If the problem continues, it may be a server issue. Reach out to technical support for further assistance.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">Why am I receiving an error when entering stock quantities?</h4>
                    <p>Ensure that the quantities are entered in the correct format and that all required fields are filled. If errors persist, check for server-side issues or contact technical support.</p>
                </li>
            </ul>
        </div>
    
        <div class="help-section">
            <h3 (click)="toggleDropdown('stepsElementsCapture')">Step-by-Step Guide</h3>
            <mat-accordion *ngIf="dropdownStates['stepsElementsCapture']">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Step 1: Access the 'Capture Stock' Page</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Click on the 'Capture Stock' button in the navigation menu to go to the 'Capture Stock' page.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Step 2: Select the Stock Item</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Select the stock item from the list of available stock items.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Step 3: Provide Quantity Added</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Enter the quantity of stock added in the appropriate field.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Step 4: Submit the Form</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Click the 'Submit' button to capture the stock. A confirmation message will appear if the stock is successfully captured.</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    
    
    <div *ngIf="shouldDisplayContainer('writeoff-stock')" class="help-container stock-container writeoff-stock">
        <h2><mat-icon>remove_circle_outline</mat-icon> Write Off Stock</h2>
        <p>This section provides assistance on how to write off stock items in the system.</p>
        <button mat-raised-button color="primary" [routerLink]="['/pageStock']">Go To Page</button>
        
        <div class="help-section">
            <h3 (click)="toggleDropdown('commonQuestionsWriteOffStock')">Common Questions</h3>
            <ul *ngIf="dropdownStates['commonQuestionsWriteOffStock']">
                <li class="searchable">
                    <h4 class="searchable">How do I write off stock that is no longer usable?</h4>
                    <p>Navigate to the 'Write Off Stock' page, select the stock item, enter the quantity to be written off, and provide a reason for the write-off. Click 'Submit' to complete the process.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">What information do I need to provide for a stock write-off?</h4>
                    <p>You need to provide the stock name, quantity written off, the date of write-off, and the reason for the write-off.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">Can I reverse a stock write-off?</h4>
                    <p>Once a stock write-off is processed, it cannot be reversed. Ensure all details are correct before submitting. If you need to correct an error, contact technical support.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">What should I do if the stock write-off form is not saving?</h4>
                    <p>Check for any validation errors in the form and ensure all required fields are filled out. Refresh the page or try again. If issues persist, contact technical support.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">How can I verify if a stock write-off was successful?</h4>
                    <p>After submitting, you should receive a confirmation message. You can also check the updated stock levels in the 'Manage Stock' page to ensure the write-off was recorded.</p>
                </li>
            </ul>
        </div>
        
        <div class="help-section">
            <h3 (click)="toggleDropdown('technicalIssuesWriteOffStock')">Technical Issues</h3>
            <ul *ngIf="dropdownStates['technicalIssuesWriteOffStock']">
                <li class="searchable">
                    <h4 class="searchable">Why is the 'Submit' button not working?</h4>
                    <p>Ensure that all required fields are correctly filled out and that there are no validation errors. Check your internet connection and try again.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">Why is the write-off information not updating in the system?</h4>
                    <p>Verify your internet connection and try refreshing the page. If the issue persists, it could be a server problem. Contact technical support for assistance.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">What should I do if the stock write-off page is not loading?</h4>
                    <p>Check your internet connection and reload the page. If the issue continues, there might be a server issue. Reach out to technical support for further help.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">Why am I receiving an error when submitting the stock write-off?</h4>
                    <p>Ensure all fields are filled out correctly and that the data meets validation criteria. If errors persist, there might be a technical issue; contact support for help.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">Why can’t I find the write-off entry in the stock records?</h4>
                    <p>Refresh the stock records page to view recent updates. If the issue continues, there might be a synchronization problem. Contact technical support for further assistance.</p>
                </li>
            </ul>
        </div>
        
        <div class="help-section">
            <h3 (click)="toggleDropdown('stepsElementsWriteOff')">Step-by-Step Guide</h3>
            <mat-accordion *ngIf="dropdownStates['stepsElementsWriteOff']">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Step 1: Access the 'Write Off Stock' Page</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Click on the 'Write Off Stock' button in the navigation menu to go to the 'Write Off Stock' page.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Step 2: Select the Stock Item</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Select the stock item from the list of available stock items.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Step 3: Provide Write-Off Details</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Enter the quantity of stock written off, the date of write-off, and the reason for the write-off.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Step 4: Submit the Form</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Click the 'Submit' button to write off the stock. A confirmation message will appear if the stock is successfully written off.</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    
    
    <div *ngIf="shouldDisplayContainer('search-stock')" class="help-container stock-container search-stock">
        <h2><mat-icon>search</mat-icon> Search Stock</h2>
        <p>This section provides assistance on how to search for stock items in the system.</p>
        <button mat-raised-button color="primary" [routerLink]="['/pageStock']">Go To Page</button>
    
        <div class="help-section">
            <h3 (click)="toggleDropdown('commonQuestionsSearchStock')">Common Questions</h3>
            <ul *ngIf="dropdownStates['commonQuestionsSearchStock']">
                <li class="searchable">
                    <h4 class="searchable">How do I search for a specific stock item?</h4>
                    <p>Go to the 'Search Stock' page, enter the stock name or other details into the search field, and click 'Search' to find the item.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">Can I filter stock search results by category or supplier?</h4>
                    <p>Yes, you can use the filter options to narrow down your search results by category, supplier, or other criteria.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">What should I do if I can't find a stock item using the search?</h4>
                    <p>Ensure you are using the correct search criteria and try different keywords. If the item is still not found, it may not be added to the system. Contact your system administrator for assistance.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">How can I save frequently used search criteria?</h4>
                    <p>Currently, there is no feature to save search criteria. You will need to enter the search details each time you perform a search.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">What if the search results are not accurate?</h4>
                    <p>Check your search criteria for accuracy and try refining your search. If issues persist, there may be a problem with the data indexing. Contact technical support for help.</p>
                </li>
            </ul>
        </div>
    
        <div class="help-section">
            <h3 (click)="toggleDropdown('technicalIssuesSearchStock')">Technical Issues</h3>
            <ul *ngIf="dropdownStates['technicalIssuesSearchStock']">
                <li class="searchable">
                    <h4 class="searchable">Why is the search function not returning any results?</h4>
                    <p>Verify that you have entered the correct search criteria and that there are matching items in the system. If the problem persists, there might be a technical issue with the search functionality.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">Why is the search page taking too long to load?</h4>
                    <p>Check your internet connection and try refreshing the page. If the issue continues, it might be related to server performance. Contact technical support for further assistance.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">What should I do if the search results are not displaying correctly?</h4>
                    <p>Ensure your search criteria are correct and try reloading the page. If the issue persists, it could be a data or server-side problem. Contact technical support for help.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">Why am I receiving an error when performing a search?</h4>
                    <p>Double-check your search criteria for accuracy and ensure all fields are filled out correctly. If errors persist, there may be a technical issue. Reach out to support for further assistance.</p>
                </li>
                <li class="searchable">
                    <h4 class="searchable">How can I troubleshoot issues with the search functionality?</h4>
                    <p>Start by checking your internet connection and ensuring your search criteria are correct. If problems persist, clear your browser's cache and cookies or contact technical support for help.</p>
                </li>
            </ul>
        </div>
    
        <div class="help-section">
            <h3 (click)="toggleDropdown('stepsElementsSearch')">Step-by-Step Guide</h3>
            <mat-accordion *ngIf="dropdownStates['stepsElementsSearch']">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Step 1: Access the 'Search Stock' Page</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Click on the 'Search Stock' button in the navigation menu to go to the 'Search Stock' page.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Step 2: Enter Search Criteria</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Enter the stock name, category, or supplier in the search bar.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Step 3: Click the Search Button</mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Click the search button to view the results. Matching stock items will be displayed below the search bar.</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    
</div>
<div *ngIf="noResultsFound" class="no-results-message">
    <mat-icon class="no-results-icon">search_off</mat-icon>
    No results found for your search query.
  </div>
  
</body>