<body class="delivery-body">
  <h1 style="font-size: 48px; color: #4d4a4a; text-align: center; text-transform: uppercase; letter-spacing: 3px; margin-bottom: 24px; text-shadow: 2px 2px 4px rgba(124, 124, 124, 0.5);">NEW DELIVERIES</h1>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let order of orderInfo" class="delivery-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="order-details">Order ID: {{ order.systemOrder.orderId }} - Patient: {{ order.patient.firstName }} {{ order.patient.lastName }}</span>
          <button class="edit-button" (click)="createdeliveries(order.systemOrder.orderId)">Create Delivery</button>
        </mat-panel-title>
        <mat-panel-description>
            
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p class="order-info">Order Status: {{ order.orderStatus.description }}</p>
      <p class="order-info">Order Type: {{ order.orderType.description }}</p>
      <p class="order-info">Order Direction: {{ order.orderDirection.description }}</p>
      <p class="order-info">Timeline Details: {{ order.timeline.timelineDetails }}</p>
  
      <strong>Teethshades</strong>
      <div *ngFor="let teethshade of order.teethshades" class="teethshade">
        <div class="color-box" [style.background]="teethshade.colourCode"></div>
        <span class="shade-name">{{ teethshade.colourName }}</span>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div *ngIf="orderInfo.length === 0" class="no-deliveries alert-message">
    <span class="icon">&#9888;</span> No NEW DELIVERIES can be processed until an order has been COMPLETED.
</div>
</body>
<div class="help-button-container">
  <button mat-button [routerLink]="['/help-deliveries']" fragment="new-deliveries">
    <mat-icon>live_help</mat-icon>
    <span>Help</span>
  </button>
</div>