body {
    background: linear-gradient(120deg, #aed9e0, #c2e2f3, #eaf1fa, #c2e2f3, #aed9e0);
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensure body covers the full viewport height */
    display: flex;
    flex-direction: column;
  }
  
  /* Ensure HTML and Body elements cover full height */
  html, body {
    height: 100%;
  }

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    flex:wrap;
}
.delivery-body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    color: #333;
    padding: 20px;
    margin: 0 auto;
    overflow-y: auto;
    max-height: 80vh;
}

.delivery-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delivery-panel .mat-expansion-panel-header {
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #f8f9fa;
}

.order-details {
    font-weight: bold;
    margin-right: 10px;
}

.edit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #0056b3;
}

.order-info {
    margin-left: 20px;
}

.teethshade {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.color-box {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    margin-right: 10px;
}

.shade-name {
    font-size: 14px;
}

.alert-message {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 16px; /* Adjust font size for better readability */
    line-height: 1.5; /* Increase line height for better spacing */
}

.help-button-container {
    display: flex;
    align-items: center;
  }
  
  .help-button-container button {
    display: flex;
    align-items: center;
  }
  
  .help-button-container mat-icon {
    margin-right: 8px;
  }
  
  .help-button-container span {
    font-size: 16px;
    font-weight: bold;
  }
  
