<body class="delivery-body">
  <h1 style="font-size: 48px; color: #333; text-align: center; text-transform: uppercase; letter-spacing: 3px; margin-bottom: 20px; width: 100%;">
    <i class="fas fa-user-plus" style="vertical-align: middle; margin-right: 8px;"></i> DELIVERIES
  </h1>
  
  <div class="filter-container" style="display: flex; justify-content: center; align-items: center; width: 100%; margin-bottom: 20px; gap: 20px;">
    <mat-form-field appearance="fill" style="width: 300px;">
      <mat-label>Filter by Delivery Status</mat-label>
      <mat-select [(value)]="selectedStatus" (selectionChange)="filterDeliveries()">
        <mat-option *ngFor="let status of deliveryStatuses" [value]="status.status">
          {{ status.status }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="search-bar" style="width: 300px;">
      <mat-label>Search by Delivery ID or System Order ID</mat-label>
      <input matInput [(ngModel)]="searchTerm" (ngModelChange)="filterDeliveries()" placeholder="Enter delivery ID or system order ID">
    </mat-form-field>
  </div>
  
  <div *ngIf="filteredDeliveries.length === 0" class="no-deliveries alert-message">
    <span class="icon">&#9888;</span> No deliveries found.
  </div>
  
  <div class="delivery-card-container" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px; width: 100%;">
    <div *ngFor="let delivery of pagedDeliveries" class="mb-3 delivery-card">
      <mat-card>
        <mat-card-header class="delivery-header"></mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <mat-icon matListIcon style="font-size: 24px; margin-right: 8px;">local_shipping</mat-icon>
              <h4 matLine style="font-size: 18px; font-weight: bold; margin-right: 8px;">Delivery Address</h4>
              <p matLine style="font-size: 16px; color: #333; white-space: normal; overflow-wrap: break-word;">
                {{ delivery.systemOrder.dentist.address }}
              </p>
            </mat-list-item>
            <mat-list-item *ngIf="delivery.deliveryDate != null">
              <mat-icon matListIcon>date_range</mat-icon>
              <h4 matLine>Delivery Date</h4>
              <p matLine>{{ delivery.deliveryDate | date: 'mediumDate' }}</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListIcon>info</mat-icon>
              <h4 matLine>Delivery Status</h4>
              <p matLine>{{ delivery.deliveryStatus?.status }}</p>
              <div *ngIf="delivery.deliveryStatus.deliveryStatusId == 2" style="display: flex; align-items: center; color: #28a745;">
                <mat-icon>check</mat-icon>
              </div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListIcon>person</mat-icon>
              <h4 matLine>Employee</h4>
              <p matLine>{{ delivery.employee.firstName }} {{ delivery.employee.lastName }}</p>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListIcon>assignment</mat-icon>
              <h4 matLine>System Order ID</h4>
              <p matLine>{{ delivery.systemOrderId }}</p>
            </mat-list-item>
            <mat-list-item *ngIf="delivery.deliveryStatus.deliveryStatusId == 1">
              <button mat-raised-button color="primary" (click)="updateDeliveryCollected(delivery.deliveryId)" >
               Delivery collection
              </button>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="pagination-controls" style="display: flex; justify-content: space-between; align-items: center; width: 100%; padding: 10px; margin-top: 25px;">
    <button mat-button (click)="previousPage()" [disabled]="currentPage === 0" class="pagination-button">Previous</button>
    <span style="font-size: 12px; font-weight: bold; color: #333;">Page {{ currentPage + 1 }} of {{ totalPages }}</span>
    <button mat-button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1" class="pagination-button">Next</button>
  </div>
  

  </body>
  
  <div class="help-button-container">
    <button mat-button [routerLink]="['/help-deliveries']" fragment="new-deliveries">
      <mat-icon>live_help</mat-icon>
      <span>Help</span>
    </button>
  </div>