.delivery-body {
  background: linear-gradient(120deg, #aed9e0, #c2e2f3, #eaf1fa, #c2e2f3, #aed9e0);
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  height:max-content;
  
  display: flex;
  flex-direction: column;
  
}

.delivery-card {
    margin-bottom: 20px;
    background-color: #fff; /* Add a white background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 20px; /* Add padding inside the card */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition */
    
    &:hover {
        transform: translateY(-5px); /* Lift up on hover */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
    }
}

mat-list-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0; /* Add bottom border */
    transition: background-color 0.3s; /* Smooth background transition */
    
    &:hover {
        background-color: #f9f9f9; /* Light background on hover */
    }
    
    mat-icon {
        margin-right: 15px;
        font-size: 24px; /* Adjust icon size */
        color: #555; /* Set icon color */
    }
    
    &:last-child {
        border-bottom: none; /* Remove bottom border from last list item */
    }
}


@media (max-width: 768px) {
    .delivery-header {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    mat-list-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 15px; /* Adjust padding for smaller screens */
    }

    mat-icon {
        margin-right: 0;
        margin-bottom: 8px; /* Adjust spacing between icon and text for smaller screens */
    }
}
.help-button-container {
    display: flex;
    align-items: center;
  }
  
  .help-button-container button {
    display: flex;
    align-items: center;
  }
  
  .help-button-container mat-icon {
    margin-right: 8px;
  }
  
  .help-button-container span {
    font-size: 16px;
    font-weight: bold;
  }
  .delivery-body {
    .filter-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }
  
    .search-bar {
      flex: 1;
      margin-left: 10px;
    }
  
    .no-deliveries-message {
      text-align: center;
      margin: 20px 0;
    }
  
    .delivery-card {
      margin-bottom: 20px;
    }
  
    mat-card {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px;
    }
  
    button {
      margin-top: 10px;
    }
  
    .help-button-container {
      text-align: center;
      margin-top: 20px;
    }
  }
  