body {
  background: linear-gradient(120deg, #aed9e0, #c2e2f3, #eaf1fa, #c2e2f3, #aed9e0);
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.page-container {
  width: 100%;
  max-width: 1800px;
  margin: 20px;
  padding: 20px;
  background: #ffffffcc;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.reports-title {
  font-size: 36px;
  color: #333;
  text-align: center;
  margin: 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: #fff;
  margin-bottom: 20px;
}

.filter-container mat-form-field {
  width: 200px;
  font-size: 14px;
  color: #6c757d;
}

.report-info-container {
  text-align: right;
  font-size: 14px;
  color: #555;
}
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.kpi-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  width: 120%;
  max-width: 270px; /* Sets a maximum width to keep cards small */
}

.kpi-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.kpi-card h3 {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
  font-weight: bold;
}

.kpi-card p {
  font-size: 18px;
  color: #333;
  margin: 5px 0;
  font-weight: bold;
}

.gauge {
  width: 70px;  /* Further adjust gauge size */
  height: 50px; /* Further adjust gauge size */
}

.chart-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.reports-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.report-section {
  flex: 1 1 calc(25% - 10px);
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s, transform 0.3s;
}

.report-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #529cdd;
  color: #ffffff;
  text-transform: uppercase;
}

td {
  background-color: #f9f9f9;
}

table th:first-child, table td:first-child {
  border-left: none;
}

table th:last-child, table td:last-child {
  border-right: none;
}

table tr:last-child td {
  border-bottom: none;
}

.download-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.download-button:hover {
  background-color: #0056b3;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.report-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.summary-card {
  flex: 1 1 30%;
  min-width: 300px;
  max-width: 45%;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.summary-card mat-card {
  height: 100%;
}

.summary-card mat-card-header {
  background-color: #f4f4f9;
}

.summary-card mat-card-title {
  font-size: 20px;
  font-weight: bold;
}

.summary-card mat-card-content {
  font-size: 16px;
}

.summary-card mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-card mat-list-item h4 {
  margin: 0;
  font-size: 16px;
}

.summary-card mat-list-item p {
  margin: 0;
  font-size: 16px;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
  .report-section {
    width: 100%;
    margin-bottom: 20px;
  }
  .dashboard-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}



.pagination-controls {
  display: flex;
  justify-content: space-between; /* Align buttons to the left and right edges */
  align-items: center;
  width: 100%; /* Ensures the pagination controls take the full width */
  padding: 10px;
 // background-color: #e9f2f9; /* Light blue background similar to screenshot */
  border-radius: 10px; /* Rounded corners */
  box-sizing: border-box; /* Ensure padding doesn't add extra width */
  position: relative; /* Positioning context for absolute elements */
  margin-top: 25 px;
}

.pagination-controls button {
  margin: 0; /* Remove margin to align correctly to the edges */
  border: 1px solid #a0a0a0; /* Grey border */
  background-color: transparent;
  color: #333; /* Darker text color */
  border-radius: 5px; /* Rounded button corners */
  padding: 5px 10px; /* Adds padding for better button appearance */
}

.pagination-controls span {
  font-size: 12px;
  font-weight: bold;
  color: #333; /* Dark text */
  margin: 0 auto; /* Center the page number text */
}
.pagination-controls button:hover {
  background-color: #7d7d7d; /* Light blue background on hover */
  color: #fff; /* White text on hover */
  border-color: #575656; /* Blue border on hover */
}