body {
    background: linear-gradient(120deg, #aed9e0, #c2e2f3, #eaf1fa, #c2e2f3, #aed9e0);
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; /* Prevent body from scrolling */
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.main-container {
    display: flex;
    height: 100vh;
    overflow: hidden; /* Prevent extra scrollbar */
}

.sidenav-container {
    display: flex;
    height: 100%;
}

.sidenav {
    width: 280px;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto; /* Allow the sidenav to scroll if needed */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidenav-content {
    margin-left: 280px;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto; /* Only this section should scroll */
    height: 100vh;
    box-sizing: border-box;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

mat-form-field {
    width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
    background-color: inherit;
}

.mat-form-field-appearance-outline .mat-form-field-underline {
    display: block;
}

.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    padding: 0;
}

.mat-error {
    font-size: 12px;
    color: #e74c3c;
    @media (max-width: 768px) {
        font-size: 11px;
    }
    @media (max-width: 480px) {
        font-size: 10px;
    }
}

.mat-checkbox {
    margin-top: 15px;
    @media (max-width: 768px) {
        margin-top: 12px;
    }
    @media (max-width: 480px) {
        margin-top: 10px;
    }
}

.mat-raised-button {
    margin-top: 20px;
    display: block;
    width: 100%;
    @media (max-width: 768px) {
        margin-top: 15px;
    }
    @media (max-width: 480px) {
        margin-top: 10px;
    }
}

mat-label i.material-icons {
    vertical-align: middle;
    margin-right: 8px;
    @media (max-width: 768px) {
        margin-right: 6px;
    }
    @media (max-width: 480px) {
        margin-right: 4px;
    }
}

mat-label {
    font-size: 1.2em;
    font-weight: bold;
    @media (max-width: 768px) {
        font-size: 1.1em;
    }
    @media (max-width: 480px) {
        font-size: 1em;
    }
}
