
 <body>
  <div class="scroll-container">
    <h1 style="font-size: 48px; color: #4d4a4a; text-align: center; text-transform: uppercase; letter-spacing: 3px; margin-bottom: 24px; text-shadow: 2px 2px 4px rgba(124, 124, 124, 0.5);">ORDERS</h1>
  <div class="container">
    <div *ngIf="loading" class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
    <div class="search-filter">
      <mat-form-field class="search-field">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput [(ngModel)]="orderId" placeholder="Enter Order ID" (ngModelChange)="onOrderIdChange($event)">
      </mat-form-field>
      <mat-form-field class="filter-field">
        <mat-label>Filter By</mat-label>
        <mat-select [(ngModel)]="selectedFilter" (selectionChange)="onFilterChange($event)">
          <mat-option value="0">No Filter</mat-option>
          <mat-option *ngFor="let ordertype of orderTypes" [value]="ordertype.orderTypeId">{{ ordertype.description }}</mat-option>
        </mat-select>
      </mat-form-field>
   
 
      <button class="btn btn-outline-primary rounded-btn" >
        <mat-icon>search</mat-icon>Search
      </button>
      <button class="btn btn-outline-danger rounded-btn" (click)="clearSeacrhOrders()">
        <mat-icon>clear</mat-icon>Clear
      </button>
    
    </div>
    
    <mat-accordion>
      <mat-expansion-panel *ngFor="let order of ordersInfo">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-error *ngIf="order.orderStatus.orderStatusId==9" align="end">Canceled:</mat-error>
            <mat-error *ngIf="order.orderStatus.orderStatusId==11" align="end">Rejected:</mat-error>
            <mat-icon>assignment</mat-icon>
            Order ID: {{ order.orderId }} - Dentist: {{ order.dentist.firstName }} {{ order.dentist.lastName }}  
            
          </mat-panel-title>          
        </mat-expansion-panel-header>
        
        <div class="order-details">
          <div *ngIf="order.systemOrderSteps.length>0">
            <p><strong>Ordersteps</strong><p>
            <div *ngFor="let steps of order.systemOrderSteps">
          
          <p>{{steps.description}}: {{steps.employee.firstName}} {{steps.employee.lastName}}</p>
        </div>
        </div>
          <p><strong>Order Status:</strong> {{ order.orderStatus.description }}</p>
          <p><strong>Order Type:</strong> {{ order.orderType.description }}</p>
           <p><strong>Order Direction:</strong> {{ order.orderWorkflowTimeline.orderDirection.description }}</p> 
           <p><strong>Timeline Details:</strong> {{ order.orderWorkflowTimeline.timelineDetails }}</p> 
          <div *ngFor="let stock of order.stockItems">
          <p><strong>Stock amount used</strong> {{ stock.stock.stockName}}: {{stock.quantity}} {{stock.stock.measurement}}</p>
        </div>
          <strong>Teethshades:</strong>
          <div class="teethshades">
            <div *ngFor="let teethshade of order.teethShades" class="teethshade-item">
              <div class="color-box" [style.background]="teethshade.colourCode"></div>
              <span>{{ teethshade.colourName }}</span>
            </div>
          </div>

          <div>
            <div *ngIf="order.mediaFiles" class="media-container">
              <div *ngFor="let media of order.mediaFiles">
                <div *ngIf="isImage(media.fileSelf)">
                  <img [src]="getBase64ImageSrc(media.fileSelf)" alt="Base64 Image" class="image-item">
                  <div class="button-container">
                    <button mat-icon-button (click)="downloadFile(media.fileSelf, media.fileName)">
                      <mat-icon>file_download</mat-icon>
                    </button>
                    <div  *ngIf="roleService.hasRole(['lab manager','owner','admin'])">
                      <div *ngIf="media.fileName !== 'TeethAreas.png' && !media.fileName.includes('DentalDesign')" >
                        <button mat-icon-button (click)="deleteMediaFile(media.mediaFileId)">
                          <mat-icon>delete</mat-icon>
                        </button>
                          
                       </div>
                    </div>
                 
                  </div>
                </div>
                <div *ngIf="!isImage(media.fileSelf)" style="position: relative;">
                  <button *ngIf="roleService.hasRole(['lab manager','owner','admin'])" mat-icon-button (click)="deleteMediaFile(media.mediaFileId)"><mat-icon>delete</mat-icon></button>
                  <div class="file-item" (click)="downloadFile(media.fileSelf, media.fileName)" style="width: 100px;height: 100px;">
                    
                    <mat-icon class="fileIcon">insert_drive_file</mat-icon>
                    <p class="file-name">{{ media.fileName }}</p>
                  </div>
                
              </div>
              <div style="display: flex; justify-content: center; align-items: center;">
                <button class="btn btn-primary clear-filter-btn" 
                        style="background-color: rgb(35, 86, 131); margin-top: 10px; width: 70%;" 
                        (click)="onFileSelected(media, order.systemOrderSteps)" 
                        *ngIf="media.fileName.includes('gltf')">
                  View in 3D
                </button>
              </div>
              </div>
            </div>
          </div>
          
        </div>
        
        <div class="action-icons"  *ngIf="roleService.hasRole(['Admin','lab manager','owner'])">
          <button class="btn btn-secondary rounded-btn mr-2" (click)="editOrder(order)">
            <mat-icon>edit</mat-icon>Edit
          </button>
          <button *ngIf="order.orderStatus.orderStatusId!=9"  class="btn btn-outline-danger rounded-btn" (click)="cancelOrder(order.orderId)">
            <mat-icon>cancel</mat-icon>Cancel
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="pagination-controls">
      <button mat-button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button mat-button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>

    <div *ngIf="ordersInfo.length === 0 && (orderId.trim() !== '' || selectedFilter !== 0)">
      <div class="alert-message">
        No orders found.
      </div>
    </div>
    
  </div>
  <app-edit-order-modal *ngIf="selectedOrder" (close)="closeModal()"></app-edit-order-modal>
  </div>
</body>
<div class="help-button-container">
  <button mat-button [routerLink]="['/help-orders']" >
    <mat-icon>live_help</mat-icon>
    <span>Help</span>
  </button>
</div>

<!-- <style>
.media-container {
  display: flex;
  flex-wrap: wrap;
}

.image-item {
  width: 100px;
  height: 100px;
  margin: 5px; /* Adjust as needed */
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  height: 20px;
  width: 20px;
}

.btn {
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
}

.btn-outline-primary {
  border-color: #3c54b4;
  margin-left: 10px;
}

.btn-outline-danger {
  border-color: #dc3545;
  color: #dc3545;
  transition: color 0.3s;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: white;
}

a.btn.btn-primary.rounded-btn {
  background-color: #3c54b4;
  color: #fff;
  border-radius: 20px;
  padding: 10px 30px;
  text-decoration: none;
  margin-right: auto;
}

a.btn.btn-primary.rounded-btn:hover {
  background-color: #0056b3;
}


.file-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.fileIcon {
  font-size: 50px;
  margin-bottom: 5px;
}

.file-name {
  width: 100%;
  position: absolute;
  bottom: 0;
  max-width: 100px;
  font-size: 10px;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-item:hover .file-name {
  max-width: none;
  overflow: visible;
}
.btn {
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
}

.btn-secondary {
    background-color: #558dbd;
    color: #fff;
    border: none;
}

.btn-outline-danger {
    border-color: #dc3545;
    color: #dc3545;
    transition: color 0.3s;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}

.rounded-btn {
    border-radius: 20px;
    padding: 10px 20px;
}

</style> -->