<div class="orders-container">
  <h2>Orders</h2>
  <label for="orderIdInput">Enter Order ID:</label>
  <input type="text" id="orderIdInput" [(ngModel)]="orderId" />
  <button (click)="searchOrders()">Search</button>

  <div *ngIf="orders.length > 0" class="order-list">
    <ul>
      <li *ngFor="let order of ordersInfo" class="order-item">
        <div class="order-details">
          <span><strong>Order ID:</strong> {{ order.systemOrder.orderId }}</span><br>
          <span><strong>Patient Name:</strong> {{ order.systemOrder.patientName }}</span>
        </div>
        <div class="order-actions">
          <span class="status-pill">{{ order.systemOrder.status }}</span>
          <button class="edit-button" (click)="editOrder(order.systemOrder.orderId)">✏️</button>
          <button class="trash-button" (click)="deleteOrder(order.systemOrder.orderId)">🗑️</button>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="orders.length === 0 && orderId.trim() !== ''">
    <p>No orders found.</p>
  </div>

  <!-- Edit Modal -->
  <app-edit-order-modal *ngIf="selectedOrder" [order]="selectedOrder" (close)="closeModal()"></app-edit-order-modal>
</div>
