.orders-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.order-list {
  list-style-type: none;
  padding: 0;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-details {
  flex-grow: 1;
  font-size: 18px;
}

.order-actions {
  display: flex;
  align-items: center;
}

.status-pill {
  background-color: #4caf50;
  color: #fff;
  padding: 5px 15px;
  border-radius: 50px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize; /* Ensure the status text is capitalized */
}

.edit-button,
.trash-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.edit-button:hover {
  background-color: #e7f3ff;
  border-color: #90caf9;
}

.trash-button:hover {
  background-color: #ffe7e7;
  border-color: #f44336;
}
