<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOGIN</title>
</head>
<body>

<div class="login-page">
  <div class="login-container">
    <img src='assets/images/Company logo.jpg' alt="Company Logo" class="logo">
    <h1 style="font-size: 48px; color: #333; text-align: center; text-transform: uppercase; letter-spacing: 3px; margin-bottom: 24px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">LOG-IN</h1>
<div class="container">
   
</div>

    <form (ngSubmit)="onSubmit()" class="login-form">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="user.EmailAddress" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.Password" required>
      </div>
      <button type="submit">Login</button>
      <button class="forgotb" type="button" (click)="resetpassword()">Forgot Password</button>
    </form>
  </div>
</div>

</body>
</html>



