/* Body styles */
body {
  background: linear-gradient(120deg, #aed9e0, #c2e2f3, #eaf1fa, #c2e2f3, #aed9e0);
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  height:max-content;
  
  display: flex;
  flex-direction: column;
  
}

  
  /* Animated background gradients */
  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  /* Enhanced blue gradient animation */
  body {
    background: linear-gradient(120deg, #aed9e0, #c2e2f3, #eaf1fa, #c2e2f3, #aed9e0);
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
  }
  
  /* Login page container */
  .login-page {
    text-align: center;
  }
  
 /* Container for login */
 .login-container {
    width: 350px; /* Adjust container width as needed */
    background-color: #ffffff; /* White background */
    padding: 40px; /* Add more padding */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    text-align: center; /* Center the content horizontally */
  }
  
  /* Company logo */
  .logo {
    width: 150px; /* Increase the width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add margin below the logo */
  }

  /* Login form */
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  /* Login form labels */
  .login-form label {
    margin-bottom: 10px;
    font-size: 14px;  /* Increase margin bottom for labels */
  }
  
  /* Login form input fields */
  .login-form input {
    padding: 10px;
    margin-bottom: 20px; 
    margin-left: 10px; /* Increase margin bottom for input fields */
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* Login form buttons */
  .login-form button {
    padding: 10px 20px;
    margin-bottom: 10px; /* Add margin bottom for buttons */
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Blue button color */
    color: #fff; /* White text color */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-form button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  /* Secondary button for forgot password */
  .login-form button.secondary {
    background-color: #6c757d; /* Grey button color */
  }
  
  .login-form button.secondary:hover {
    background-color: #495057; /* Darker grey on hover */
  }

  .login-form .forgotb {
    padding: 10px 20px;
    margin-bottom: 10px; /* Add margin bottom for the button */
    border: none;
    border-radius: 5px;
    background-color: #6c757d; /* Grey button color */
    color: #fff; /* White text color */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-form .forgotb:hover {
    background-color: #495057; /* Darker grey on hover */
  }
  