<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Order</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.12/angular-material.min.css">
</head>
<body>
    <div class="container">
        <h1 style="font-size: 48px; color: #4d4a4a; text-align: center; text-transform: uppercase; letter-spacing: 3px; margin-bottom: 24px; text-shadow: 2px 2px 4px rgba(124, 124, 124, 0.5);">NEW ORDER</h1>

        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
            <!-- Order ID Input -->
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label><i class="material-icons">assignment</i> Order ID</mat-label>
                    <input matInput id="OrderId" formControlName="OrderId" type="text" placeholder="Enter Order ID">
                    <mat-error *ngIf="addForm.get('OrderId')?.invalid && addForm.get('OrderId')?.touched">
                        Order ID is required and must be 7 characters long.
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Dentist Selection Dropdown -->
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label><i class="material-icons">person</i> Dentist</mat-label>
                    <mat-select id="DentistId" formControlName="DentistId">
                        <mat-option *ngFor="let dentist of dentists" [value]="dentist.dentistId">
                            {{ dentist.firstName }} {{ dentist.lastName }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="addForm.get('DentistId')?.invalid && addForm.get('DentistId')?.touched">
                        Dentist is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Order Date Input -->
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label><i class="material-icons">event</i> Order Date</mat-label>
                    <input matInput id="OrderDate" formControlName="OrderDate" type="date" placeholder="Select Order Date" [max]="todayDate">
                    <mat-error *ngIf="addForm.get('OrderDate')?.invalid && addForm.get('OrderDate')?.touched">
                        Order Date is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Medical Aid Selection Dropdown -->
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label><i class="material-icons">local_hospital</i> Medical Aid</mat-label>
                    <mat-select id="MedicalAidId" formControlName="MedicalAidId">
                        <mat-option disabled selected value="">Select Medical Aid</mat-option>
                        <mat-option *ngFor="let medicalAid of medicalAids" [value]="medicalAid.medicalAidId">
                            {{ medicalAid.medicalAidName }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="addForm.get('MedicalAidId')?.invalid && addForm.get('MedicalAidId')?.touched">
                        Medical Aid is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Medical Aid Number Input -->
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label><i class="material-icons">assignment_ind</i> Medical Aid Number</mat-label>
                    <input matInput id="MedicalAidNumber" formControlName="MedicalAidNumber" type="text" placeholder="Enter medical aid number">
                    <mat-error *ngIf="addForm.get('MedicalAidNumber')?.invalid && addForm.get('MedicalAidNumber')?.touched">
                        Medical Aid Number is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Patient Name Input -->
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label><i class="material-icons">person</i> Patient Name</mat-label>
                    <input matInput id="PatientName" formControlName="PatientName" type="text" placeholder="Enter patient name">
                    <mat-error *ngIf="addForm.get('PatientName')?.invalid && addForm.get('PatientName')?.touched">
                        Patient Name is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Patient Surname Input -->
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label><i class="material-icons">person</i> Patient Surname</mat-label>
                    <input matInput id="PatientSurname" formControlName="PatientSurname" type="text" placeholder="Enter patient surname">
                    <mat-error *ngIf="addForm.get('PatientSurname')?.invalid && addForm.get('PatientSurname')?.touched">
                        Patient Surname is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Order Type Selection Dropdown -->
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label><i class="material-icons">assignment</i> Order Type</mat-label>
                    <mat-select id="OrderTypeId" formControlName="OrderTypeId">
                        <mat-option *ngFor="let type of orderTypes" [value]="type.orderTypeId">
                            {{ type.description }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="addForm.get('OrderTypeId')?.invalid && addForm.get('OrderTypeId')?.touched">
                        Order Type is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Order Direction Selection Dropdown -->
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label><i class="material-icons">navigation</i> Order Direction</mat-label>
                    <mat-select id="OrderDirectionId" formControlName="OrderDirectionId" (selectionChange)="getOrderDirection($event)">
                        <mat-option *ngFor="let direction of orderDirections" [value]="direction.orderDirectionId">
                            {{ direction.description }} {{ direction.instructions }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="addForm.get('OrderDirectionId')?.invalid && addForm.get('OrderDirectionId')?.touched">
                        Order Direction is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Priority Level Selection Dropdown -->
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label><i class="material-icons">priority_high</i> Priority Level</mat-label>
                    <mat-select id="PriorityLevel" formControlName="PriorityLevel">
                        <mat-option disabled selected value="">Select Priority Level</mat-option>
                        <mat-option *ngFor="let level of priorityLevels" [value]="level.value">
                            {{ level.label }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="addForm.get('PriorityLevel')?.invalid && addForm.get('PriorityLevel')?.touched">
                        Priority Level is required.
                    </mat-error>
                </mat-form-field>
            </div>
    
    <div>
      <canvas #imageCanvas id="myCanvas" width="100" height="125"></canvas>
    </div>
    
    <!-- Display Selected Areas (Read-only) -->
    <div *ngIf="selectedAreas.length > 0"> 
      <h3 style="font-size: 1.5rem; text-align: center; margin-bottom: 20px;"><i class="material-icons">priority_high</i> Selected Areas:</h3>
    
      <div *ngFor="let areaId of selectedAreas ; let i = index">
        <div class="form-group">
          <label>Area {{ i + 1 }}:</label>
          <label>{{areaId}}</label>
        </div>
      </div>
    </div>
    <div *ngIf="selectedAreas.length == 0" class="text-danger" style="font-size: 12px;">Area is required</div>
    
    <div class="color-chart">
      <h3 style="display: flex; align-items: center; font-family: 'Arial', sans-serif; font-size: 20px; color: #555; text-transform: uppercase; letter-spacing: 1px; margin-top: 20px;">
        <i class="material-icons" style="margin-right: 10px; font-size: 24px;">color_lens</i>
        Select Teeth Shades
      </h3>
      
      <div class="shade-container" style="display: flex; flex-wrap: wrap;">
        <!-- Loop through teethShades array and display each shade -->
        <div *ngFor="let shade of teethShades" class="shade-item" (click)="toggleTeethShadeSelection(shade.teethShadeId)" style="margin-right: 10px; margin-bottom: 10px; position: relative;">
          <!-- Display color box with the shade's color -->
          <div class="color-box" [style.background]="shade.colourCode" style="width: 30px; height: 30px;">
            <div style="position: absolute; top: 5px; right: 5px;" class="selected-mark" *ngIf="selectedTeethShadeIds.includes(shade.teethShadeId)">&#10003;</div>      
          </div>
          <div class="color-name">{{ shade.colourName }}</div>
          <!-- Display check mark if shade is selected -->
        </div>
      </div>
    </div>
    <div *ngIf="selectedTeethShadeIds.length == 0" class="text-danger" style="font-size: 12px;">Theeth Shade is required</div>
    
       <!-- Emergency Number Input -->
       <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label><i class="material-icons">phone</i> Emergency Number</mat-label>
            <input matInput id="EmergencyNumber" formControlName="EmergencyNumber" type="text" placeholder="Enter Emergency Contact Number">
            <mat-error *ngIf="addForm.get('EmergencyNumber')?.invalid && addForm.get('EmergencyNumber')?.touched">
                Emergency Number is required and must be valid length.
            </mat-error>
        </mat-form-field>
    </div>

    <!-- Special Requirements Input -->
    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label><i class="material-icons">notes</i> Special Requirements</mat-label>
            <textarea matInput id="SpecialRequirements" formControlName="SpecialRequirements" placeholder="Enter any special requirements"></textarea>
            <mat-error *ngIf="addForm.get('SpecialRequirements')?.invalid && addForm.get('SpecialRequirements')?.touched">
                Special Requirements is required.
            </mat-error>
        </mat-form-field>
    </div>

    <!-- Due Date Input -->
    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label><i class="material-icons">date_range</i> Due Date</mat-label>
            <input matInput id="DueDate" formControlName="DueDate" type="date" placeholder="Select Due Date" [min]="twoDaysAhead">
            <mat-error *ngIf="addForm.get('DueDate')?.invalid && addForm.get('DueDate')?.touched">
                Due Date is required and must be a future date.
            </mat-error>
        </mat-form-field>
    </div>

    <!-- Submit and Cancel Buttons -->
    <button mat-raised-button color="primary" type="submit">
        <i class="material-icons">check</i> Submit
    </button>
    <button mat-raised-button color="warn" type="button" (click)="cancel()">
        <i class="material-icons">cancel</i> Cancel
    </button>
</form>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.5.3/core.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/zone.js/0.8.26/zone.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reflect-metadata/0.1.10/Reflect.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@angular/material/bundles/material.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@angular/cdk/bundles/cdk.umd.js"></script>

</body>