
<div class="container">
    <h2>Add New Order</h2>
  
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <!-- Order ID Input -->
        <div class="form-group">
          <label for="OrderId">Order ID:</label>
          <input required type="text" formControlName="OrderId" class="form-control" id="OrderId" placeholder="Enter Order ID">
          
        </div>
        <div *ngIf="addForm.get('OrderId')?.invalid" class="text-danger">Order ID is required and must be 7 characters long</div>
    
       <!-- Dentist Selection Dropdown -->
       <div class="form-group">
        <label for="DentistId">Dentist:</label>
        <select required formControlName="DentistId" class="form-control" id="DentistId" >
          <option *ngFor="let dentist of dentists" [ngValue]="dentist.dentistId">
            {{ dentist.firstName }} {{ dentist.lastName }}
          </option>
        </select>
      </div>
      <div *ngIf="hasError('DentistId', 'required')" class="text-danger">Dentist is required</div>

        <!-- Order Date Input -->
        <div class="form-group">
          <label for="OrderDate">Order Date:</label>
          <input required type="date" formControlName="OrderDate" class="form-control" id="OrderDate" placeholder="Select Order Date">
        </div>
        <div *ngIf="hasError('OrderDate', 'required')" class="text-danger">Order Date is required</div>
    
        <!-- Medical Aid Selection Dropdown -->
        <div class="form-group">
            <label for="MedicalAidId">Medical Aid:</label>
            <select formControlName="MedicalAidId" class="form-control" id="MedicalAidId" required>
              <option disabled selected value="">Select Medical Aid</option>
              <option *ngFor="let medicalAid of medicalAids" [ngValue]="medicalAid.medicalAidId">
                {{ medicalAid.medicalAidId }} - {{ medicalAid.medicalAidName }}
              </option>
            </select>
            <div *ngIf="hasError('MedicalAidId', 'required')" class="text-danger">Medical aid is required</div>
          </div>
          <div class="form-group">
            <label for="PatientName">Patient Name:</label>
            <input required type="text" formControlName="PatientName" class="form-control" id="PatientName" placeholder="Enter patient name">
            <div *ngIf="hasError('PatientName', 'required')" class="text-danger">Patient name is required</div>
          </div>
          <div class="form-group">
            <label for="PatientSurname">Patient Surname:</label>
            <input required type="text" formControlName="PatientSurname" class="form-control" id="PatientSurname" placeholder="Enter patient surname">
            <div *ngIf="hasError('PatientSurname', 'required')" class="text-danger">Patient surname is required</div>
          </div>
          <div class="form-group">
            <label for="MedicalAidNumber">Medical Aid Number:</label>
            <input required type="text" formControlName="MedicalAidNumber" class="form-control" id="MedicalAidNumber" placeholder="Enter medical aid number">
            <div *ngIf="hasError('MedicalAidNumber', 'required')" class="text-danger">Medical aid is required</div>
          </div>
    
       <!-- Order Type Selection Dropdown -->
       <div class="form-group">
        <label for="OrderTypeId">Order Type:</label>
        <select formControlName="OrderTypeId" class="form-control" id="OrderTypeId" required>
          <option *ngFor="let type of orderTypes" [ngValue]="type.orderTypeId">
            {{ type.description }}
          </option>
        </select>
        <div *ngIf="hasError('OrderTypeId', 'required')" class="text-danger">Order Type is required</div>
      </div>      
      <!-- Order Direction Selection Dropdown -->
      <div class="form-group">
        <label for="OrderDirectionId">Order Direction:</label>
        <select formControlName="OrderDirectionId" class="form-control" id="OrderDirectionId" (change)="getOrderDirection($event)" required>
            <option *ngFor="let direction of orderDirections" [value]="direction.orderDirectionId">
                {{ direction.description }} {{ direction.instructions }}
            </option>
        </select>
        <div *ngIf="hasError('OrderDirectionId', 'required')" class="text-danger">Order Direction is required</div>
    </div>
      
      <div class="form-group">
        <label for="PriorityLevel">Priority Level:</label>
        <select formControlName="PriorityLevel" class="form-control" id="PriorityLevel" required> 
          <option disabled selected value="">Select Priority Level</option>
          <option *ngFor="let level of priorityLevels" [value]="level.value">{{ level.label }}</option>
        </select>
        <div *ngIf="hasError('PriorityLevel', 'required')" class="text-danger">Priority Level is required</div>
      </div>
      

      
      <div>
        <canvas #imageCanvas id="myCanvas" width="100" height="50"></canvas>
      </div>
      
      <!-- Display Selected Areas (Read-only) -->
      <div *ngIf="selectedAreas.length > 0">  <h3>Selected Areas:</h3>
        <div *ngFor="let areaId of selectedAreas ; let i = index">
          <div class="form-group">
            <label>Area {{ i + 1 }}:</label>
            <label>{{areaId}}</label>
          </div>
        </div>
      </div>
      <div *ngIf="selectedAreas.length == 0" class="text-danger">Area is required</div>
      <div class="color-chart">
  <h3>Select Teeth Shades</h3>
  <div class="shade-container" style="display: flex;
  flex-wrap: wrap;">
    <!-- Loop through teethShades array and display each shade -->
    <div *ngFor="let shade of teethShades" class="shade-item" (click)="toggleTeethShadeSelection(shade.teethShadeId)" style="margin-right: 10px;
    margin-bottom: 10px;
    position: relative;">
      <!-- Display color box with the shade's color -->
      <div class="color-box" [style.background]="shade.colourCode" style="width: 30px;
      height: 30px;
      border: 1px solid #000;">
      <div style="position: absolute;
      top: 5px;
      right: 5px;" class="selected-mark" *ngIf="selectedTeethShadeIds.includes(shade.teethShadeId)">&#10003;</div>      

      </div>
      <div class="color-name">{{ shade.colourName }}</div>
      <!-- Display check mark if shade is selected -->
       
    </div>
  </div>
</div>
<div *ngIf="selectedTeethShadeIds.length == 0" class="text-danger">Theeth Shade is required</div>
      <!-- Additional Form Controls -->
      <div class="form-group">
        <label for="EmergencyNumber">Emergency Number:</label>
        <input required type="text" formControlName="EmergencyNumber" class="form-control" id="EmergencyNumber" placeholder="Enter Emergency Contact Number">
        <div *ngIf="addForm.get('EmergencyNumber')?.invalid" class="text-danger">Emergency Number is required and must be valid length</div>
      </div>
      
      <div class="form-group">
        <label for="SpecialRequirements">Special Requirements:</label>
        <textarea formControlName="SpecialRequirements" class="form-control" id="SpecialRequirements" placeholder="Enter any special requirements" required></textarea>        
        <div *ngIf="hasError('SpecialRequirements', 'required')" class="text-danger">Special Requirements is required</div>

      </div>

      
      <div class="form-group">
        <label for="DueDate">Due Date:</label>
        <input type="date" formControlName="DueDate" class="form-control" id="DueDate" placeholder="Select Due Date">  
        <div *ngIf="addForm.get('DueDate')?.invalid" class="text-danger">Due Date is required and must be a future date </div>
      </div>
      <!-- Submit and Cancel Buttons -->
      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </form>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.5.3/core.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/zone.js/0.8.26/zone.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reflect-metadata/0.1.10/Reflect.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@angular/material/bundles/material.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@angular/cdk/bundles/cdk.umd.js"></script>