<!DOCTYPE html>
<html lang="en">

<head>
    ead>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Include Angular Material CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.12/angular-material.min.css">
</head>

<body>
    <h1 style="font-size: 48px; color: #4d4a4a; text-align: center; text-transform: uppercase; letter-spacing: 3px; margin-bottom: 24px; text-shadow: 2px 2px 4px rgba(124, 124, 124, 0.5);">USERS</h1>
    <div class="container">
        <div class="scroll-container">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-between align-items-center mb-3">
                    <div class="col-md-6 d-flex align-items-center">
                        <!-- <i class="material-icons mr-2">search</i> -->
                        <mat-form-field class="search-field" style="width: 100%; max-width: 900px; padding: 20px 30px; font-size: 20px;">
                            <mat-icon matPrefix style="font-size: 28px;">search</mat-icon>
                            <input matInput [formControl]="searchControl" placeholder="Search User..." class="w-100 mr-2" style="font-size: 20px; padding: 10px;">
                          </mat-form-field>
                          
                        <button (click)="searchEmployees()" class="btn btn-outline-primary rounded-btn">Search</button>
                        
                    </div>
                    <div class="col-md-6 d-flex justify-content-end">
                        <a href="#" class="btn btn-primary rounded-btn" routerLink="/adduser">Add User</a>
                    </div>
                </div>
            </div>
              <!-- Loading indicator -->
        <div *ngIf="loading" class="d-flex justify-content-center align-items-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <!-- User cards displayed when not loading -->
        <div *ngIf="!loading" class="card-container">
            <div *ngFor="let user of paginatedUsers" class="card">
                <div class="card-body">
                    <div class="card-header">
                        <i class="material-icons example-header-image">person</i>
                        <div>
                            <h5 class="card-title">{{user.name}} {{user.surname}}</h5>
                        </div>
                    </div>
                    <p class="card-text"><strong>Email:</strong> {{user.email}}</p>
                    <p class="card-text"><strong>Phone Number:</strong> {{user.phoneNumber}}</p>
                    <p class="card-text"><strong>Access Level:</strong> {{user.roles}}</p>
                    <button (click)="editEmployee(user)"
                        class="btn btn-secondary rounded-btn mr-2">Edit</button>
                    <button (click)="deleteEmployee(user)"
                        class="btn btn-outline-danger rounded-btn">Delete</button>
                </div>
            </div>

                <!-- Placeholder cards to fill the grid -->
                <div *ngFor="let i of [].constructor(9 - paginatedUsers.length)" class="card placeholder"></div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-between align-items-center pagination">
                    <button class="btn btn-outline-secondary" (click)="previousPage()" [disabled]="currentPage === 1">
                        Previous
                    </button>
                    <span>Page {{currentPage}} of {{totalPages}}</span>
                    <button class="btn btn-outline-secondary" (click)="nextPage()" [disabled]="currentPage === totalPages">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="help-button-container">
        <button mat-button [routerLink]="['/help-user']">
            <mat-icon>live_help</mat-icon>
            <span>Help</span>
        </button>
    </div>
</body>

</html>

