<h2>Stock Types</h2>

<mat-form-field appearance="standard" class="search-bar">
  <mat-label>Search by Description</mat-label>
  <input matInput [(ngModel)]="searchTerm" placeholder="Type to search..." (ngModelChange)="filteredStockTypes()">
</mat-form-field>
<button mat-button color="primary" (click)="addType()">
    Add
  </button>
<div *ngFor="let StockType of displayedStockTypes" class="stock-type-container">
    <mat-card class="stock-type-card">
      <mat-card-title>{{ StockType.description }}</mat-card-title>
      <mat-card-actions>
        <button mat-button color="primary" (click)="eventClicked(StockType)">
          Edit
        </button>
        <button *ngIf="StockType.stockCategories.length==0" mat-button color="primary" (click)="deleteType(StockType.stockTypeId)">
            Delete
          </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <style>.stock-type-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin: 16px;
  }
  
  .stock-type-card {
    width: 300px;
  }
  </style>
