<p>testing-backend works!</p>
<!-- app.component.html -->
<button (click)="editUser()">Update User</button>
<button (click)="getUser()">Get User</button>
<button (click)="sendEmail()">Send Reset Email</button>
<button (click)="resetUserPassword()">Reset User Password</button>
<button (click)="updatePassword()">Update Password</button>
<button (click)="removeAccess()">remove access</button>
<button (click)="editEmployee()">Edit employee</button>
<button (click)="deleteEmployee()">Delete employee</button>
<button (click)="editDentist()">Edit dentist</button>
<button (click)="deleteDentist()">Delete dentist</button>