<p>testing-backend works!</p>
<!-- app.component.html -->
<button (click)="editUser()">Update User</button>
<button (click)="getUser()">Get User</button>
<button (click)="sendEmail()">Send Reset Email</button>
<button (click)="resetUserPassword()">Reset User Password</button>
<button (click)="updatePassword()">Update Password</button>
<button (click)="removeAccess()">remove access</button>
<button (click)="getallusers()">Get all users</button>
<br>
<br>
<button (click)="editEmployee()">Edit employee</button>
<button (click)="deleteEmployee()">Delete employee</button>

<button (click)="getEmployeeByEmail()">get employe by email</button>
<br>
<br>
<button (click)="editDentist()">Edit dentist</button>
<button (click)="deleteDentist()">Delete dentist</button>
<br>
<br>
<button (click)="getAllStock()">Get stock</button>
<button (click)="getAllStockCategories()">Get stock categegories</button>
<button (click)="getAllStockTypes()">Get stock types</button>
<button (click)="addStock()">Add stock</button>
<button (click)="addStockWriteOff()">Add StockWriteOff</button>
<button (click)="captureNewStock()">Capture added stock</button>
<button (click)="getallusers()">Get all users</button>
<button (click)="getEmployeeByEmail()">get employe by email</button>
<br>
<button (click)="addDummyevents()">add dummy events</button>
<button (click)="getCalendarEvenets()">get events</button>


<br>
<br>
<button (click)="deleteEmployeeDailyHours()">Delete employeeDailyHours</button>
<button (click)="getEmployeeDailyHours()">Get employeeDailyHours</button>
<br>
<button (click)="adddailyhours()">Add employee Daily Hours</button>
<button (click)="getdailyhoursforJuneFourth()">Get employee Daily Hours on june 04</button>
<button (click)="getdailyhoursforemployee()">Get employee Daily Hours by email</button>

