body {
    background: linear-gradient(120deg, #aed9e0, #c2e2f3, #eaf1fa, #c2e2f3, #aed9e0);
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
    font-family: 'Roboto', sans-serif;
    color: #333;
    padding: 20px;
    overflow-y: auto; /* Allow vertical scrolling */
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

mat-form-field {
    width: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    border: 2px solid #333; /* Dark grey border */
}

.mat-form-field-appearance-fill .mat-form-field-flex:hover {
    border-color: #555; /* Darker grey border on hover */
}

.mat-form-field-appearance-fill .mat-form-field-underline {
    display: none; /* Remove underline */
}

.mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
    padding: 0;
}

.mat-error {
    font-size: 12px;
    color: #e74c3c;
}

.mat-checkbox {
    margin-top: 15px;
}

.mat-raised-button {
    margin-top: 20px;
    display: block;
    width: 100%;
}

mat-label i.material-icons {
    vertical-align: middle;
    margin-right: 8px;
}

mat-label {
    font-size: 1.2em;
    font-weight: bold;
}
.help-button-container {
    display: flex;
    align-items: center;
  }
  
  .help-button-container button {
    display: flex;
    align-items: center;
  }
  
  .help-button-container mat-icon {
    margin-right: 8px;
  }
  
  .help-button-container span {
    font-size: 16px;
    font-weight: bold;
  }
  