<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timelines of all orders</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.12/angular-material.min.css">
</head>
<body>
  <h1 style="font-size: 48px; color: #4d4a4a; text-align: center; text-transform: uppercase; letter-spacing: 3px; margin-bottom: 24px; text-shadow: 2px 2px 4px rgba(124, 124, 124, 0.5);">Timelines of all orders</h1>
    <div class="container">
      <h1 style="font-size: 28px; color: #333; text-align: center; text-transform: uppercase; letter-spacing: 2px; margin-bottom: 20px;">NEW  Timelines</h1>
        
        <form [formGroup]="timelineForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label><i class="material-icons">description</i> Description for newly created timeline</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </div>
        
            <mat-list>
                <mat-error *ngIf="orderInfo.length==0">
                    No in progress orders without procedural timeline
                </mat-error>
                <mat-list-item *ngFor="let order of orderInfo">
                    <mat-checkbox [checked]="systemOrderIds.includes(order.orderId)" (change)="toggleOrderSelection(order)">
                        <span><i class="material-icons">assignment</i> {{ order.systemOrder.orderId}} -{{ order.orderDirection.description }} - Due Date:{{ order.systemOrder.dueDate|date }}</span>
                    </mat-checkbox>
                </mat-list-item>
            </mat-list>
        
            <button mat-raised-button color="primary" type="submit">Create New Timeline</button>
        
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.12/angular-material.min.js"></script>
</body>


<div class="help-button-container">
    <button mat-button [routerLink]="['/help-orderTimeline']" >
      <mat-icon>live_help</mat-icon>
      <span>Help</span>
    </button>
  </div>
</html>
