body {
  background: linear-gradient(120deg, #aed9e0, #c2e2f3, #eaf1fa, #c2e2f3, #aed9e0);
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  height:max-content;

  display: flex;
  flex-direction: column;
  
}

/* Animated background gradients */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Enhanced blue gradient animation */
body {
  background: linear-gradient(120deg, #aed9e0, #c2e2f3, #eaf1fa, #c2e2f3, #aed9e0);
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
}

/* Container styles */
/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px; /* Add padding */
}

/* Row styles */
.row {
  margin-top: 20px;
}

/* Order card styles */
.order-card {
  // width: calc(33.333% - 20px);
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #fff;
}

.order-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.order-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.order-card-icon {
  font-size: 50px;
  color: #333;
  margin-right: 10px;
}

.order-card-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.order-card-subtitle {
  font-size: 16px;
  font-style: italic;
  color: #333;
}

.order-card-text {
  margin-bottom: 10px;
}

/* Gradient background for order cards */
.order-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 140%;
  height: 100%;
  background: linear-gradient(45deg, #f0f0f0, #ffffff);
  z-index: -1;
  border-radius: 10px;
}
.help-button-container {
  display: flex;
  align-items: center;
}

.help-button-container button {
  display: flex;
  align-items: center;
}

.help-button-container mat-icon {
  margin-right: 8px;
}

.help-button-container span {
  font-size: 16px;
  font-weight: bold;
}
