<h2 mat-dialog-title>Edit Dentist</h2>
<mat-dialog-content>
  <form #editForm="ngForm">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput [(ngModel)]="data.dentist.firstName" name="firstName" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput [(ngModel)]="data.dentist.lastName" name="lastName" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contact Detail</mat-label>
      <input matInput [(ngModel)]="data.dentist.contactDetail" name="contactDetail" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput [(ngModel)]="data.dentist.address" name="address">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.dentist" [disabled]="!editForm.valid">Save</button>
</mat-dialog-actions>
