<h2 mat-dialog-title>Edit Dentist</h2>
<mat-dialog-content>
  <form [formGroup]="editForm" class="container">
    <h1>Edit Dentist Details</h1>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label><i class="material-icons">person</i> First Name</mat-label>
        <input id="firstName" matInput formControlName="firstName" placeholder="First Name" required>
        <mat-error *ngIf="editForm.get('firstName')?.invalid && editForm.get('firstName')?.touched">
          First Name is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label><i class="material-icons">person</i> Last Name</mat-label>
        <input id="lastName" matInput formControlName="lastName" placeholder="Last Name" required>
        <mat-error *ngIf="editForm.get('lastName')?.invalid && editForm.get('lastName')?.touched">
          Last Name is required.
        </mat-error>
      </mat-form-field>
    </div>
    <input id="dentistId" matInput formControlName="dentistId" hidden>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label><i class="material-icons">phone</i> Contact Detail</mat-label>
        <input id="contactDetail" matInput formControlName="contactDetail" placeholder="Contact Detail" required>
        <mat-error *ngIf="editForm.get('contactDetail')?.invalid && editForm.get('contactDetail')?.touched">
          Contact Detail is required and must be a valid South African phone number.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label><i class="material-icons">home</i> Address</mat-label>
        <input id="address" matInput formControlName="address" placeholder="Address" required>
        <mat-error *ngIf="editForm.get('address')?.invalid && editForm.get('address')?.touched">
          Must enter valid address details.
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()" class="btn btn-secondary">Cancel</button>
  <button mat-button (click)="onSave()" [disabled]="!editForm.valid" class="btn btn-primary">Save</button>
</mat-dialog-actions>
