/* Apply global font */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(120deg, #aed9e0, #c2e2f3, #eaf1fa, #c2e2f3, #aed9e0);
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
  color: #333; /* Dark text color */
  overflow: auto; /* Allow scrolling */
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.nav-background {
  position: relative;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;

}

.nav-toolbar {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  color: #0a0a0a;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-toolbar:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.nav-toolbar mat-toolbar-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.company-logo {
  width: 40px;
  height: auto;
  margin-right: 20px;
}

.nav-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #f3f3f3;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.example-container {
  height: 100%;
  background-color: #f4f6f8;
}

.example-sidenav {
  width: 280px;
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin: 5px 0;
  color: #333333;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  border-radius: 4px;
}

.main-nav {
  background-color: #f0f4f8;
  font-weight: bold;
}

.sub-nav {
  background-color: #ffffff;
  padding-left: 30px;
}

.nav-item:hover {
  background-color: #e3f2fd;
  color: #007bff;
}

.nav-header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin: 10px 0 5px;
  background-color: #f9fafc;
  border-radius: 4px;
  color: #333333;
  cursor: pointer;
}

.nav-section {
  display: flex;
  flex-direction: column;
}

.mat-icon {
  margin-right: 10px;
  color: #3b3b3b;
}

.nav-text {
  font-weight: 500;
  color: #333333;
}

.mat-sidenav-content {
  background-color: #f4f6f8;
  padding: 20px;
}

.nav-expansion-panel {
  background: none;
  box-shadow: none;
}

.mat-expansion-panel-header {
  background: none;
  box-shadow: none;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.7;
  filter: blur(8px);
}

