body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(120deg, #aed9e0, #c2e2f3, #eaf1fa, #c2e2f3, #aed9e0);
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
  color: #333; /* Dark text color */
  
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
html{
  overflow-x: auto;
}
.nav-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000;
}

.nav-toolbar {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  color: #0a0a0a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0; /* Remove the border-radius for a consistent fixed header */
  padding: 0 20px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-logo {
  width: 40px;
  height: auto;
  margin-right: 20px;
}

.nav-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #f3f3f3;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.example-container {
  height: 100%;
  background-color: #f4f6f8;
  padding-top: 75px; /* Adjust padding to avoid content overlapping with fixed header */
  
}

.example-sidenav {
  width: 280px;
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  position: fixed;
  top: 75px; /* Align the sidenav below the fixed header */
  bottom: 0;
}

.mat-sidenav-content {
  margin-left: 0px; /* Offset content for fixed sidenav */
  background-color: #f4f6f8;
  padding: 25px;
}

.nav-expansion-panel {
  background: none;
  box-shadow: none;
}

.mat-expansion-panel-header {
  background: none;
  box-shadow: none;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.7;
  filter: blur(8px);
}
.content-container {
  padding: 20px;
  transition: margin 0.3s ease;
}

.mat-nav-list {
  padding-left: 0; /* Remove default padding from the list */
}

.mat-list-item, 
.mat-expansion-panel-header {
  padding-left: 17px; /* Align the main headings with Home */
}

.mat-expansion-panel-header.mat-expanded .mat-expansion-panel-header-title {
  padding-left: 22px; /* Ensure expanded panel headers are aligned */
}

.sub-nav-link {
  padding-left: 40px; /* Add padding to indent nested items */
}

.nav-text {
  margin-left: 7px; /* Adjust the alignment of the text relative to icons */
}

.mat-expansion-panel-header {
  display: flex;
  align-items: center;
}


// /* When the sidenav is open */
// mat-sidenav-container.sidenav-open .content-container {
//   margin-left: 250px; /* Adjust the margin according to the sidenav width */
// }

// /* When the sidenav is closed */
// mat-sidenav-container.sidenav-closed .content-container {
//   margin-left: 0;
//   width: 100%;
// }

