<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BIO PRO DENTAL STUDIO</title>
</head>
<body>
  <div class="nav-background" [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(assets/images/Background.jpg)'}">
    <mat-toolbar class="nav-toolbar">
      <mat-toolbar-row>
        <button mat-icon-button (click)="isSidenavOpen = !isSidenavOpen">
          <mat-icon>menu</mat-icon>
        </button>
        <img src="assets/images/Company logo.jpg" alt="Company Logo" class="company-logo">
        <h1 class="nav-title">BIO-PRO DENTAL STUDIO</h1>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side" [(opened)]="isSidenavOpen" class="side-container" *ngIf="isLoggedIn">
      <mat-nav-list>
        <a mat-list-item class="nav-link" routerLink="/home" (click)="isSidenavOpen = !isSidenavOpen">
          <mat-icon>home</mat-icon> <!-- Icon for home -->
          <span class="nav-text">Home</span> <!-- Text for home -->
        </a>

        <a mat-list-item class="nav-link" routerLink="/adduser" (click)="isSidenavOpen = !isSidenavOpen">
          <mat-icon>add_circle_outline</mat-icon> <!-- Icon for dentist profile -->
          Add User
        </a>
        <a mat-list-item class="nav-link" (click)="toggleEmployeeMenu()" [routerLink]="['/employeeProfile']">
          <mat-icon>person</mat-icon> <!-- Icon for profile -->
          All Employees
        </a>
        
        <ng-container *ngIf="isEmployeeMenuOpen">
          <a mat-list-item class="sub-nav-link" routerLink="/captureEmployeeDailyHours" (click)="isSidenavOpen = !isSidenavOpen">
            <mat-icon>schedule</mat-icon> <!-- Icon for schedule/hours -->
            Capture Employee Daily Hours
          </a>
        </ng-container>
        <a mat-list-item class="nav-link" routerLink="/dentistProfile" (click)="isSidenavOpen = !isSidenavOpen">
          <mat-icon>medical_services</mat-icon> <!-- Icon for dentist profile -->
          Dentist Profiles
        </a>
       
        <a mat-list-item class="nav-link" (click)="toggleOrdersMenu()" [routerLink]="['/orders']">
          <mat-icon>folder</mat-icon> <!-- Icon for orders -->
          Orders
        </a>
        <ng-container *ngIf="isOrdersMenuOpen">
          <a mat-list-item class="sub-nav-link" [routerLink]="['/addOrder']" (click)="isSidenavOpen = !isSidenavOpen">
            <mat-icon>add_circle_outline</mat-icon> <!-- Icon for new order -->
            New Order
          </a>
          <a mat-list-item class="sub-nav-link" [routerLink]="['/openOrder']" (click)="isSidenavOpen = !isSidenavOpen">
            <mat-icon>folder_open</mat-icon> <!-- Icon for open orders -->
            Open Orders
          </a>
          <a mat-list-item class="sub-nav-link" [routerLink]="['/orderAwaitingDentalDesign']" (click)="isSidenavOpen = !isSidenavOpen">
            <mat-icon>folder_open</mat-icon> <!-- Icon for open orders -->
            Orders Awaiting Dental Design
          </a>
          <a mat-list-item class="sub-nav-link" [routerLink]="['/dentalDesignApproval']" (click)="isSidenavOpen = !isSidenavOpen">
            <mat-icon>add_circle_outline</mat-icon> <!-- Icon for open orders -->
            Approve dental designs
          </a>
          <a mat-list-item class="sub-nav-link" [routerLink]="['/approval']" (click)="isSidenavOpen = !isSidenavOpen">
            <mat-icon>check_circle</mat-icon> <!-- Icon for approve orders -->
            Approve Orders
          </a>
        </ng-container>
        <a mat-list-item class="nav-link" (click)="isSidenavOpen = !isSidenavOpen" [routerLink]="['/addproceduraltimeline']">
          <mat-icon>watch</mat-icon> 
          Timeline of Orders
        </a>
        <a mat-list-item class="nav-link" (click)="toggleDeliveriesMenu()" [routerLink]="['/deliveries']">
          <mat-icon>local_shipping</mat-icon> 
          Deliveries
        </a>
        <ng-container *ngIf="isDeliveriesMenuOpen">
          <a mat-list-item class="sub-nav-link" [routerLink]="['/addDelivery']" (click)="isSidenavOpen = !isSidenavOpen">
            <mat-icon>add_circle_outline</mat-icon> <!-- Icon for new order -->
            New Delivery
          </a>
        </ng-container>
      
        <ng-container>
          <a mat-list-item class="sub-nav-link" [routerLink]="['/reports']" (click)="isSidenavOpen = !isSidenavOpen">
            <mat-icon>assessment</mat-icon> <!-- Icon for new order -->
            Reports
          </a>
        </ng-container>

        <ng-container>
          <a mat-list-item class="sub-nav-link" [routerLink]="['/help']" (click)="isSidenavOpen = !isSidenavOpen">
            <mat-icon>help</mat-icon> <!-- Icon for new order -->
            Help Page
          </a>
        </ng-container>
        
    </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content-container">
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
</body>
</html>
