<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Approvals</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <h1 class="main-title">Dental Design APPROVALS</h1>
  <div class="container">
    <div class="card-container">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let pendingOrder of pendingOrdersData">
          <mat-expansion-panel-header>
            <mat-panel-title class="mat-titl-panel">
              Order ID: {{ pendingOrder.orderId }} - Due date: {{ pendingOrder.dueDate | date: 'shortDate' }}
            </mat-panel-title>
            <mat-panel-description>
              <div class="button-container">
                <button mat-raised-button color="primary" class="approve-button" (click)="approveOrder(pendingOrder.orderId)">
                  <mat-icon>check</mat-icon> Approve
                </button>
                <button mat-raised-button color="warn" class="reject-button" (click)="rejectOrder(pendingOrder.orderId)">
                  <mat-icon>clear</mat-icon> Reject
                </button>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="order-details">
            <p><strong>Order Status:</strong> {{ pendingOrder.orderStatus.description }}</p>
            <p><strong>Order Type:</strong> {{ pendingOrder.orderType.description }}</p>
            <p><strong>Order Direction:</strong> {{ pendingOrder.orderWorkflowTimeline.orderDirection.description }}</p>
            <p><strong>Dentist:</strong> {{ pendingOrder.dentist.firstName }} {{ pendingOrder.dentist.lastName }}</p>
            <div>
              <div *ngIf="pendingOrder.mediaFiles" class="media-container">
                <div *ngFor="let media of pendingOrder.mediaFiles">
                  <div *ngIf="isImage(media.fileSelf) && media.fileName.includes('DentalDesign')">
                    <img [src]="getBase64ImageSrc(media.fileSelf)" alt="Base64 Image" class="image-item" style="width: 100px;height: 100px;">
                    <div class="button-container">
                      <button mat-icon-button (click)="downloadFile(media.fileSelf, media.fileName)">
                        <mat-icon>file_download</mat-icon>
                      </button>
                      <div *ngIf="media.fileName !== 'TeethAreas.png' && !media.fileName.includes('DentalDesign')">
                                            <button mat-icon-button (click)="deleteMediaFile(media.mediaFileId)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!isImage(media.fileSelf) && media.fileName.includes('DentalDesign')" style="position: relative;">
                    <div class="file-item" (click)="downloadFile(media.fileSelf, media.fileName)" style="width: 100px;height: 100px;">
                      <mat-icon class="fileIcon">insert_drive_file</mat-icon>
                      <p class="file-name">{{ media.fileName }}</p>
                      <button mat-icon-button (click)="deleteMediaFile(media.mediaFileId)"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</body>


<div class="help-button-container">
  <button mat-button [routerLink]="['/help-orders']" >
    <mat-icon>live_help</mat-icon>
    <span>Help</span>
  </button>
</div>
</html>