<body>
  <mat-form-field appearance="outline" *ngIf="selectedCalendarId === 1" class="search-form-field">
    <mat-label><mat-icon>search</mat-icon>Search</mat-label>
    <input matInput [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChange($event)" placeholder="Search events">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <div *ngIf="nosearch" [formGroup]="form" class="container">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Pick calendar</mat-label>
      <mat-select formControlName="Calendar" (selectionChange)="onCalendarChange($event)">
        <mat-option *ngFor="let calendar of calendars" [value]="calendar.calanderId">
          {{ calendar.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="selectedCalendarId === 2" class="full-width">
      <mat-select formControlName="Procedural" (selectionChange)="onTimelineChange($event)">
        <mat-option value="all">All Timelines</mat-option>
        <mat-option *ngFor="let ProceduralTimelinesevent of ProceduralTimelinesevents" [value]="ProceduralTimelinesevent.title">
          {{ ProceduralTimelinesevent.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="selectedCalendarId === 1" class="button-container">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="addEventClicked($event)">
        <mat-icon>add</mat-icon>
        Add event
      </button>
      <div>
        <button mat-button (click)="previousPeriod()" class="nav-button">Previous</button>
        <button mat-button (click)="nextPeriod()" class="nav-button">Next</button>
        <mat-form-field appearance="outline" class="view-form-field">
          <mat-label>View</mat-label>
          <mat-select [(value)]="view" (selectionChange)="onViewChange($event.value)">
            <mat-option value="week">Week View</mat-option>
            <mat-option value="month">Month View</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button (click)="BackToToday()" slot="end" class="nav-button">Today</button>
      </div>
      <mwl-calendar-week-view
        *ngIf="view === 'week'"
        [viewDate]="viewDate"
        [events]="filteredEvents.length > 0 ? filteredEvents : events"
        [refresh]="refresh"
        (dayClicked)="dayClicked()"
        (eventClicked)="eventClicked($event.event)">
      </mwl-calendar-week-view>

      <mwl-calendar-month-view
        *ngIf="view === 'month'"
        [viewDate]="viewDate"
        [events]="filteredEvents.length > 0 ? filteredEvents : events"
        [refresh]="refresh"
        (dayClicked)="dayClicked()"
        (eventClicked)="eventClicked($event.event)">
      </mwl-calendar-month-view>
    </div>
  </div>

  <div *ngIf="selectedCalendarId === 2" class="container">
    <button mat-button (click)="previousPeriodForProc()" class="nav-button">Previous</button>
    <button mat-button (click)="nextPeriodForProc()" class="nav-button">Next</button>
    <button mat-button (click)="BackToToday()" slot="end" class="nav-button">Today</button>
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="filteredEvents.length > 0 ? filteredEvents : ProceduralTimelinesevents"
      [refresh]="refresh"
      (dayClicked)="dayClicked()"
      (eventClicked)="proceduralTimelineEventClicked($event.event)">
    </mwl-calendar-month-view>
  </div>

  <div *ngIf="!nosearch && selectedCalendarId === 1">
    <div *ngFor="let singleEvent of filteredEvents" class="event-container">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ singleEvent.start | date }} {{ singleEvent.object.description }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mwl-calendar-day-view
            [viewDate]="singleEvent.start"
            [events]="[singleEvent]"
            [refresh]="refresh"
            (dayClicked)="dayClicked()"
            (eventClicked)="eventClicked($event.event)">
          </mwl-calendar-day-view>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</body>
