<div *ngFor="let order of orders">
    <mat-card class="order-card">
      <mat-card-header>
        <mat-card-title>Order ID: {{ order.orderId }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let orderstep of order.systemOrderSteps">
          <mat-list>
            <mat-list-item>
                <div *ngIf="orderstep.isCurrentStep"><h4 matLine>Current Step:{{ orderstep.description }}</h4></div>
                <div *ngIf="!orderstep.isCurrentStep"><h4 matLine>{{ orderstep.description }}</h4></div>
                <div *ngIf="orderstep.completed"> <mat-icon >check
               
                </mat-icon>
                Date completed:{{orderstep.dateCompleted|date:"shortDate"}}</div>
                
              
            </mat-list-item>
            <mat-list-item *ngIf="orderstep.employee.email != employeeEmail">
            <div ><p>Assigned employee:{{ orderstep.employee.firstName }} {{ orderstep.employee.lastName }}</p></div>
             </mat-list-item>
            <div *ngIf="orderstep.isCurrentStep">
             
              
              <div *ngIf="orderstep.employee.email == employeeEmail">
                <div *ngIf="!orderstep.completed"> 
                   <strong>Due Date:{{orderstep.dueDateForStep|date:"shortDate"}}</strong> </div>
                <div class="actions">
                    <div *ngIf="stockUsed">
                        <div *ngIf="stockUsed.OrderId === order.orderId">
                          <div *ngFor="let stockvalue of stockUsed.StockUsed">
                            <div *ngFor="let stocks of stockView">
                              <div *ngIf="stocks.stockId === stockvalue.StockId">
                                {{ stocks.stockName }} {{ stockvalue.Quantity }} {{ stocks.measurement }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  <button mat-raised-button color="primary" (click)="addEventClicked(order)">
                    Add stock
                  </button>
                  <button mat-raised-button color="primary" (click)="ClearStock()">
                    Clear Stock
                  </button>
                </div>
                
                <mat-divider></mat-divider>
                <div class="form-group" style="margin-top: 15px;">
                  <label for="MediaFiles" style="display: flex; margin-bottom: 5px; color: black;">
                    <mat-icon style="margin-right: 8px;">attach_file</mat-icon> Upload Media Files:
                  </label>
                  <input type="file" id="MediaFiles" (change)="onFileSelected($event)" multiple style="display: inline-block; padding: 8px 12px; border: 1px solid #ccc; border-radius: 5px; background-color: #f0f0f0; color: #333; font-size: 14px; cursor: pointer;">
                </div>
                <div *ngIf="stockUsed">
                <button *ngIf="stockUsed.StockUsed.length>0" mat-raised-button color="accent" (click)="CompleteStepOrOrder(orderstep.systeorderStepId, order.orderId)">
                    Complete step
                  </button>
              </div>
            </div>
            </div>
          </mat-list>
          <mat-divider></mat-divider>
        </div>
        
      </mat-card-content>
    </mat-card>
  </div>
  
  <h1 *ngIf="orders.length == 0">
    No orders found
  </h1>
  
  
  
  
<style>.order-card {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  </style>  