<h2 mat-dialog-title>Add stock Type</h2>
<form [formGroup]="addForm" (ngSubmit)="onSave()">
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput formControlName="Description" />
      <mat-error *ngIf="addForm.get('Description')?.hasError('required')">
        Description is required
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </mat-dialog-actions>
</form>
