<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Management</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <div class="container">
        <h1 style="font-size: 48px; color: #4d4a4a; text-align: center; text-transform: uppercase; letter-spacing: 3px; margin-bottom: 24px; text-shadow: 2px 2px 4px rgba(124, 124, 124, 0.5);">STOCK MANAGEMENT</h1>
        <div *ngIf="isLoading" class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div *ngIf="!isLoading">
            <div class="search-filter">
                <mat-form-field class="search-field">
                    <mat-icon matPrefix>search</mat-icon>
                    <input matInput [(ngModel)]="searchTerm" placeholder="Search stock" (ngModelChange)="onSearch($event)">
                </mat-form-field>
                <mat-form-field class="filter-field">
                    <mat-label>Stock Type</mat-label>
                    <mat-select [value]="selectedStockType" (selectionChange)="onStockTypeChange($event)">
                        <mat-option value="">All Stock Types</mat-option>
                        <mat-option *ngFor="let type of stockTypes" [value]="type.stockTypeId">{{ type.description }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="filter-field">
                    <mat-label>Category</mat-label>
                    <mat-select [value]="selectedCategory" (selectionChange)="onCategoryChange($event)">
                        <mat-option value="">All Categories</mat-option>
                        <mat-option *ngFor="let category of categories" [value]="category.stockCategoryId">{{ category.description }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <table class="table table-bordered table-striped rounded-table">
                <thead class="thead-dark">
                    <tr>
                        <th>Stock Name</th>
                        <th>Quantity Available</th>
                        <th>Category</th>
                        <th>Supplier</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="filteredStock.length === 0">
                        <td colspan="5" class="text-center">No matching stocks found.</td>
                    </tr>
                    <tr *ngFor="let stock of filteredStock">
                        <td>{{ stock.stockName }}</td>
                        <td>{{ stock.quantityAvailable }}</td>
                        <td>{{ getCategoryDescription(stock.stockCategoryId) }}</td>
                        <td>{{ stock.supplier.supplierName }}</td>
                        <td>
                            <button mat-button class="btn btn-danger" (click)="openWriteOffModal(stock)">Write Off</button>
                            <button mat-button class="btn btn-primary" (click)="openCaptureStockModal(stock)">Capture New Stock</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
