<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Management</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 style="font-size: 48px; color: #4d4a4a; text-align: center; text-transform: uppercase; letter-spacing: 3px; margin-bottom: 24px; text-shadow: 2px 2px 4px rgba(124, 124, 124, 0.5);">STOCK MANAGEMENT</h1>
        <div *ngIf="isLoading" class="text-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div *ngIf="!isLoading">
            <div class="search-filter">
                <mat-form-field class="search-field">
                    <mat-icon matPrefix>search</mat-icon>
                    <input matInput [(ngModel)]="searchTerm" placeholder="Search Stock by Name" (ngModelChange)="onSearch($event)">
                </mat-form-field>
                <div *ngIf="!filteredStock || filteredStock.length === 0" 
                style="display: flex; align-items: center; justify-content: center; background-color: #ffe6e6; border: 1px solid #e74c3c; color: #e74c3c; padding: 16px; border-radius: 8px; margin-top: 55px;font-size: 20px;">
               <mat-icon style="margin-right: 8px;">error_outline</mat-icon>
               <span>NO STOCK ITEM FOUND</span>
           </div>
                <mat-form-field class="filter-field">
                    <mat-label>Stock Type</mat-label>
                    <mat-select [value]="selectedStockType" (selectionChange)="onStockTypeChange($event)">
                        <mat-option value="">All Stock Types</mat-option>
                        <mat-option *ngFor="let type of stockTypes" [value]="type.stockTypeId">{{ type.description }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="filter-field">
                    <mat-label>Category</mat-label>
                    <mat-select [value]="selectedCategory" (selectionChange)="onCategoryChange($event)">
                        <mat-option value="">All Categories</mat-option>
                        <mat-option *ngFor="let category of categories" [value]="category.stockCategoryId">{{ category.description }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <table class="table table-bordered rounded-table">
                <thead>
                    <tr>
                        <th>Stock Name</th>
                        <th>Quantity Available</th>
                        <th>Category</th>
                        <th>Supplier</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let stock of filteredStock">
                        <td>{{ stock.stockName }}</td>
                        <td>{{ stock.quantityAvailable }}</td>
                        <td>{{ getCategoryDescription(stock.stockCategoryId) }}</td>
                        <td>{{ getSupplierName(stock.supplierId) }}</td>
                        <td class="text-center">
                            <button (click)="openWriteOffModal(stock)" class="btn btn-outline-danger rounded-btn mr-2">
                                <i></i> Write Off
                            </button>
                            <button (click)="openCaptureStockModal(stock)" class="btn btn-secondary rounded-btn mr-2">
                                <i></i> Add
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <table mat-table [dataSource]="belowMinStock" class="mat-elevation-z8 mat-table">
          
          <ng-container matColumnDef="stockName">
            <th mat-header-cell *matHeaderCellDef> Stock Name </th>
            <td mat-cell *matCellDef="let stock"> {{stock.stockName}} </td>
          </ng-container>
    
          
          <ng-container matColumnDef="quantityAvailable">
            <th mat-header-cell *matHeaderCellDef> Quantity Available </th>
            <td mat-cell *matCellDef="let stock"> {{stock.quantityAvailable}} </td>
          </ng-container>
    
         
          <ng-container matColumnDef="minimumStockLevel">
            <th mat-header-cell *matHeaderCellDef> Minimum Stock Level </th>
            <td mat-cell *matCellDef="let stock"> {{stock.minimumStockLevel}} </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
       
      </div> -->
      <div class="chart-container">
        <h2 class="chart-heading">Stock Levels vs Minimum Stock Levels</h2>
        <canvas id="stockLevelChart"></canvas>
      </div>
    </div>

    
</body>

<div class="help-button-container">
    <button mat-button [routerLink]="['/help-stock']">
        <mat-icon>live_help</mat-icon>
        <span>Help</span>
    </button>
</div>
</html>

