<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Dentist</title>
    <!-- Include Angular Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Include Angular Material CSS -->
    <link href="https://cdn.jsdelivr.net/npm/@angular/material@12.2.13/prebuilt-themes/indigo-pink.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1><mat-icon>person_add</mat-icon> Add New Dentist</h1>
        <div class="row">
            <div class="col-md-6">
                <form [formGroup]="addDentistForm" (ngSubmit)="addDentist()" novalidate>
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label><mat-icon>person</mat-icon> Surname</mat-label>
                            <input matInput id="LastName" formControlName="LastName" type="text">
                            <mat-error *ngIf="addDentistForm.get('LastName')?.invalid && addDentistForm.get('LastName')?.touched">
                                Surname is required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                  
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label><mat-icon>person</mat-icon> Name</mat-label>
                            <input matInput id="FirstName" formControlName="FirstName" type="text">
                            <mat-error *ngIf="addDentistForm.get('FirstName')?.invalid && addDentistForm.get('FirstName')?.touched">
                                Name is required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                  
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label><mat-icon>phone</mat-icon> Contact details</mat-label>
                            <input matInput id="ContactDetail" formControlName="ContactDetail">
                            <mat-error *ngIf="addDentistForm.get('ContactDetail')?.invalid && addDentistForm.get('ContactDetail')?.touched">
                                Contact details are required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                  
                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label><mat-icon>location_on</mat-icon> Address</mat-label>
                            <input matInput id="Address" formControlName="Address">
                            <mat-error *ngIf="addDentistForm.get('Address')?.invalid && addDentistForm.get('Address')?.touched">
                                Address is required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <button mat-raised-button color="primary" type="submit" style="margin-right: 10px;">
                        <mat-icon>add</mat-icon> Add
                    </button>
                    <button mat-raised-button color="warn" type="button" (click)="cancel()" style="margin-left: 50px;">
                        <mat-icon>cancel</mat-icon> Cancel
                    </button>                    
                </form>
            </div>
        </div>
    </div>
    
    <!-- Angular and Angular Material dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.5.3/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zone.js/0.8.26/zone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reflect-metadata/0.1.10/Reflect.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@angular/material/bundles/material.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@angular/cdk/bundles/cdk.umd.js"></script>
</body>
</html>


