body {
  background: linear-gradient(120deg, #aed9e0, #c2e2f3, #eaf1fa, #c2e2f3, #aed9e0);
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
  font-family: 'Roboto', sans-serif;
  color: #333;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

h1 {
  font-size: 48px;
  color: #4d4a4a;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 24px;
  text-shadow: 2px 2px 4px rgba(124, 124, 124, 0.5);
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

.rounded-table {
  border-radius: 10px;
  overflow: hidden;
}

.rounded-table thead th {
  background-color: #343a40;
  color: white;
}

.rounded-table tbody td,
.rounded-table tbody th {
  background-color: white;
  color: #495057;
}

.rounded-table tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

.rounded-table tbody tr:hover {
  background-color: #e9ecef;
}

.rounded-table .btn {
  border-radius: 5px;
}

.rounded-table .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.rounded-table .btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

/* Media Queries for responsiveness */
@media (max-width: 767.98px) {
  h1 {
      font-size: 32px;
      letter-spacing: 2px;
      margin-bottom: 16px;
  }

  .table-responsive {
      border: 0;
  }

  .btn {
      width: 100%;
      margin-bottom: 10px;
  }
}

@media (max-width: 575.98px) {
  .table-responsive {
      overflow-x: auto;
  }

  .d-flex {
      flex-direction: column;
      align-items: stretch;
  }

  .d-flex .btn {
      margin-bottom: 10px;
  }
}