<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Hours</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <h1>DAILY HOURS</h1>

    <div *ngIf="isLoading" class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div *ngIf="!isLoading">
        <div class="container">
            <!-- Filter Section -->
            <div class="row mb-3">
                <div class="col-md-6 col-sm-12 mb-2">
                    <label for="filterDate">Filter by Date:</label>
                    <input type="date" id="filterDate" class="form-control" (change)="onDateChange($event)" [(ngModel)]="selectedDate" />
                </div>
                <div class="col-md-6 col-sm-12 mb-2">
                    <label for="filterEmployeeName">Filter by Employee Name:</label>
                    <select id="filterEmployeeName" class="form-control" (change)="onNameChange($event)" [(ngModel)]="selectedEmployeeEmail">
                        <option disabled selected value="">Select an employee</option>
                        <option *ngFor="let employee of employees" [value]="employee.EmailAddress">
                            {{ employee.FirstName }} {{ employee.LastName }}
                        </option>
                    </select>
                </div>
            </div>
    
            <div class="d-flex justify-content-between align-items-center mb-3">
                <button (click)="clearData()" class="btn btn-outline-secondary">Clear filter</button>
                <a href="#" class="btn btn-primary rounded-btn" style="margin-right: 10px;" routerLink="/captureEmployeeDailyHours">Capture Hour</a>
            </div>
    
            <!-- Week Navigation and Display -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <button (click)="navigateWeek(-1)" class="btn btn-outline-secondary">Previous Week</button>
                <h3>{{ selectedWeek | date: 'MMMM d, y' }} - {{ endOfWeek | date: 'MMMM d, y' }}</h3>
                <button (click)="navigateWeek(1)" class="btn btn-outline-secondary">Next Week</button>
            </div>
    
            <!-- Daily Hours Cards by Day of the Week -->
            <div class="row">
                <div class="col-md-4 col-sm-12 mb-2" *ngFor="let day of daysOfWeek; let i = index">
                    <div class="card">
                        <div class="card-header">
                            {{ day }}, {{ getDateString(i) | date: 'MMMM d, y' }}
                        </div>
                        <div class="card-body">
                            <ul *ngIf="groupedDailyHoursData[getDateString(i)]">
                                <li *ngFor="let employeeEmail of getEmployeeEmails(getDateString(i))">
                                    <strong>{{ getEmployeeName(employeeEmail) }}</strong>: 
                                    {{ groupedDailyHoursData[getDateString(i)][employeeEmail].totalHours || 0 }} hours
                                    <ul>
                                        <li *ngFor="let hour of groupedDailyHoursData[getDateString(i)][employeeEmail].hoursDetails">
                                            {{ hour.Hours }} hours
                                            <button (click)="onDeleteDailyHour(hour.EmployeeId)" class="btn btn-outline-danger btn-sm">
                                                Delete
                                            </button>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <p *ngIf="!groupedDailyHoursData[getDateString(i)]">No data</p>
                        </div>
                    </div>
                </div>
            </div>
    
  
  

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.12/angular-material.min.js"></script>

    <div class="help-button-container">
        <button mat-button [routerLink]="['/help-employee']">
            <mat-icon>live_help</mat-icon>
            <span>Help</span>
        </button>
    </div>
</body>

</html>
