<div class="home-container">
    <div class="home-main">
      <div class="home-blur-background"></div>
      <div class="home-hero">
        <div class="home-container1">
          <h1 class="home-text">
            <span class="home-text1">Warm welcome to </span>
            <br class="home-text2" />
            <span class="home-text3">Bio-Pro Studio</span>
            <br />
            <span>we appreciate you</span>
            <br />
          </h1>
        </div>
        <img
          alt="image"
          src="/assets/images/Bio Pro Dental - logo_00.png"
          class="home-image"
        />
      </div>
      <img
        alt="image"
        src="/assets/images/turquoise-circle.svg"
        class="home-turquoise-cirble"
      />
      <img
        alt="image"
        src="/assets/images/images2.jpeg"
        class="home-purple-circle"
      />
      <img alt="image" src="/assets/images/left.svg" class="home-left" />
      <img alt="image" src="/assets/images/right.svg" class="home-right" />
      <img
        alt="image"
        src="/assets/images/images2.jpeg"
        class="home-purple-circle1"
      />
    </div>
  </div>