
<body>
<div class="hero-section">
  <div class="hero-content">
    <h1 style="font-size: 60px; color: #f2eeee; text-align: center; text-transform: uppercase; letter-spacing: 3px; margin-bottom: 24px; text-shadow: 2px 2px 4px rgba(202, 198, 198, 0.949);">BIO-PRO DENTAL STUDIO</h1> 
    
    <p style="font-size: 30px; color: #f2eeee;; text-align: center; text-transform: uppercase; letter-spacing: 3px; margin-bottom: 24px; text-shadow: 2px 2px 4px rgba(202, 198, 198, 0.949);">MODERN AESTHECTIC DENTAL LABORATORY</p>
    <div class="buttons">
      <!-- Update the button to use Angular's click event binding -->
      <button class="btn read-more" (click)="openModal()">READ MORE</button>
    </div>
<!-- Modal Structure -->
<div id="thankYouModal" class="modal">
  <div class="modal-content">
    <p style="font-size: 30px; color: #f2eeee; text-align: center; text-transform: uppercase; letter-spacing: 3px; margin-bottom: 24px; text-shadow: 2px 2px 4px rgba(202, 198, 198, 0.949);">
      BIO-PRO DENTAL STUDIO STAFF
    </p>
    <p style="font-size: 18px; color: #f2eeee; text-align: center; margin-bottom: 24px;">
      At Bio-Pro Dental Studio, we recognize and celebrate the dedication and craftsmanship of our team. 
      Together, we strive to uphold the highest standards of excellence, delivering exceptional quality in every project.
      Let’s continue to innovate, inspire, and create work that not only meets but exceeds expectations—work that we can all be proud of.
    </p>
    <!-- Close button to close the modal -->
    <button class="btn close-modal" (click)="closeModal()">Close</button>
  </div>
</div>


  </div>
  <div class="hero-image">
    <img alt="Medical Professional" src="/assets/images/Company logo.jpg"/>
  </div>
</div>
<div class="feature-cards">
  <div *ngFor="let page of frequentlyVisitedPages">
    <div *ngIf="roleService.hasRole(page.roles)">
      <div class="feature-card" [routerLink]="page.route">
        <i class="material-icons icon">{{ page.icon }}</i>
        <p>{{ page.name }}</p>
      </div>
    </div>
  </div>
</div>

</body>