.home-text {
  margin-top: 0;
  position: absolute;
  top: 50%;
  left: 0; 
  transform: translateY(-50%);
  z-index: 1;
  text-align: center; 
}

.home-text3 {
  font-size: 58px; 
  color: #333; 
  text-transform: uppercase; 
  letter-spacing: 3px; 
  margin-bottom: 20px; 
  font-weight: bold; 
  text-shadow: 2px 2px 4px rgba(154, 136, 136, 0.825); 
}

.home-text4, .home-text1 {
  opacity: 1; 
  color: #8a8989; 
  font-size: 22px; 
  position: relative; 
}

.home-text4::before, .home-text1::before {
  content: attr(data-content); 
  position: absolute; 
  top: 0;
  left: 0;
  color: transparent; 
  text-shadow: 1px 1px 2px rgba(145, 148, 148, 0.705); 
  z-index: -1; 
}

.home-text4::before {
  color: #ccc; 
  text-shadow: 0 0 5px rgba(200, 200, 200, 0.5); 
}

.home-text1::before {
  color: #ccc; 
  text-shadow: 0 0 5px rgba(200, 200, 200, 0.5); 
}

.home-text4::before {
  left: 0;
}

.home-text1::before {
  left: 2px; 
}

.home-logo {
  position: absolute;
  height: auto;
  width: auto;
  max-height: 450px; /* Increased max-height for the logo */
  max-width: 495px; /* Increased max-width for the logo */
  top: 30%;
  right: 20px; /* Adjusted to move the logo more to the right */
  transform: translateY(-50%); /* Centering the logo vertically */
  z-index: 2; /* Ensuring the logo is above the text */
  animation: pulse 5s infinite alternate; 
}
@keyframes pulse {
  from {
    transform: scale(1); /* Initial scale */
    opacity: 1; /* Initial opacity */
  }
  to {
    transform: scale(1.1); /* Slightly larger scale */
    opacity: 0.8; /* Lower opacity */
  }
}
.background {
  position: absolute; /* Using fixed positioning to cover the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0; /* Setting the z-index to be below the text */
  opacity: 0.7; /* Making the background slightly transparent */
}

/* Responsive styles */
@media (max-width: 1200px) {
  .home-text3 {
    font-size: 48px;
  }
  
  .home-logo {
    max-height: 400px;
    max-width: 400px;
  }
}

@media (max-width: 992px) {
  .home-text3 {
    font-size: 40px;
  }
  
  .home-text4, .home-text1 {
    font-size: 20px;
  }
  
  .home-logo {
    max-height: 350px;
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .home-text {
    top: 45%;
  }

  .home-text3 {
    font-size: 36px;
  }
  
  .home-text4, .home-text1 {
    font-size: 18px;
  }
  
  .home-logo {
    max-height: 300px;
    max-width: 300px;
    right: 10px;
  }
}

@media (max-width: 576px) {
  .home-text {
    top: 40%;
  }

  .home-text3 {
    font-size: 30px;
  }
  
  .home-text4, .home-text1 {
    font-size: 16px;
  }
  
  .home-logo {
    max-height: 250px;
    max-width: 250px;
    right: 5px;
  }
}

@media (max-width: 400px) {
  .home-text {
    top: 35%;
  }

  .home-text3 {
    font-size: 24px;
  }
  
  .home-text4, .home-text1 {
    font-size: 14px;
  }
  
  .home-logo {
    max-height: 200px;
    max-width: 200px;
    right: 0;
  }
}
