<div class="container" [@fadeIn]>
  <div class="content" [@slideIn]>
    <h1 class="home-text">
      <span class="home-text1">WARM WELCOME TO</span>
      <br />
      <span class="home-text3">BIO-PRO STUDIO</span>
      <br />
      <span class="home-text4">THANK YOU FOR ALL YOUR HARD WORK</span>
    </h1>
    <img alt="Company Logo" src="/assets/images/Company logo.jpg" class="home-logo" />
  </div>
</div>
<!-- <img alt="Background Image" src="/assets/images/back g 2.jpg" class="background" /> -->

<div class="info-cards">
  
  <mat-card class="frequently-visited-card">
    <mat-card-header class="visited-header">
      <mat-card-title class="visited-title">Frequently Visited Pages</mat-card-title>
    </mat-card-header>
    <mat-card-content class="visited-content">
      <mat-list>
        <mat-list-item *ngFor="let page of frequentlyVisitedPages">
          <a [routerLink]="page.route">{{ page.name }}</a>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="weather-card" *ngIf="weather">
    <mat-card-header class="weather-header">
      <mat-card-title class="weather-title">Current Weather</mat-card-title>
    </mat-card-header>
    <mat-card-content class="weather-content">
      <div class="weather-icon">
        <img [src]="'https:' + weather.current.condition.icon" alt="Weather Icon">
      </div>
      <div class="weather-details">
        <p class="weather-location">{{ weather.location.name }}</p>
        <p class="weather-description">{{ weather.current.condition.text }}</p>
        <p class="weather-temperature">{{ weather.current.temp_c }}°C</p>
        <p class="weather-humidity">Humidity: {{ weather.current.humidity }}%</p>
      </div>
    </mat-card-content>
  </mat-card>

</div>
