.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Lower z-index to place it behind the container */
  opacity: 0.7;
}

.container {
  position: relative;
  //background: rgba(255, 255, 255, 0.95); /* Slightly more opaque for better readability */
  padding: 40px;
  border-radius: 12px; /* Slightly increased border-radius for smoother corners */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25); /* Enhanced shadow for more depth */
  margin: 20px; /* Added margin for better spacing on smaller screens */
  z-index: 1; /* Higher z-index to bring it forward */
}

.home-logo {
  max-height: 150px;
  max-width: 150px;
  margin-bottom: 30px;
  animation: fadeIn 2s ease-in-out;
}

.home-text {
  margin: 0;
  animation: fadeIn 2s ease-in-out;
}

.home-text1, .home-text4 {
  font-size: 20px;
  color: #555;
  margin-bottom: 15px; /* Slightly increased margin for better spacing */
}

.home-text3 {
  font-size: 48px;
  color: #333; /* Darker color for better contrast */
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 25px; /* Slightly increased margin for better spacing */
  font-weight: 700; /* Changed to numeric value for consistency */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Centering the container using flexbox */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .home-text3 {
    font-size: 40px;
  }
  
  .home-logo {
    max-height: 130px;
    max-width: 130px;
  }
}

@media (max-width: 992px) {
  .home-text3 {
    font-size: 36px;
  }
  
  .home-text4, .home-text1 {
    font-size: 18px;
  }
  
  .home-logo {
    max-height: 110px;
    max-width: 110px;
  }
}

@media (max-width: 768px) {
  .home-text3 {
    font-size: 32px;
  }
  
  .home-text4, .home-text1 {
    font-size: 16px;
  }
  
  .home-logo {
    max-height: 90px;
    max-width: 90px;
  }
}

@media (max-width: 576px) {
  .home-text3 {
    font-size: 28px;
  }
  
  .home-text4, .home-text1 {
    font-size: 14px;
  }
  
  .home-logo {
    max-height: 70px;
    max-width: 70px;
  }
}

@media (max-width: 400px) {
  .home-text3 {
    font-size: 24px;
  }
  
  .home-text4, .home-text1 {
    font-size: 12px;
  }
  
  .home-logo {
    max-height: 50px;
    max-width: 50px;
  }
}
